{% extends "menu_lateral_template.html" %}

{% block contents %}

    <title> Aviso | SpiceBank </title>

    <br>
    <br>
    <div class="useraccountclosereprovecenter1">
        
        <div class="useraccountclosereprovebox1">
            <h3> Aviso: </h3>
        </div>

        <div class="useraccountclosereprovebox2">
            <h3> Prezado cliente, seu saldo está negativo, efetue o pagamento! </h3>
            <br>
            <p> Agência: {{ user.account.agency }} / {{ type }}: {{ user.account.account }} </p>
            <p> Data: {{ date }} </p><br>
            <p> Saldo atual: R$ {{ "{:,.2f}".format (user.account.balance) }} </p>
            <br>
            <p> Sua conta está com saldo negativo, não é possivel realizar a solicitação de encerramento de conta. </p>
            <br>                
        </div>
        <br>
        <form method="GET" action="{{ url_for('index') }}">
            <div style="margin-left: 0%;">
                <button class="useraccountclosereprovebutton1" type="submit">&#8592 voltar</button>
            </div>
        </form>
    </div>
    <br>
{% endblock contents %}