<!--Tela de Login de Acompanhamento-->
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_template.css') }}">
        <link rel="shortcut icon" href="static/img/LOGO_BANCO.png" type="image/x-icon">
        <script type="text/javascript" src="{{ url_for('static',filename='js/mask.js') }}"></script>
        <title>Acompanhamento | SpiceBank </title>
    </head>

    <body class="userbodyacompanhamento">
        <br>
        <nav class="husernav">
            <img src="static/img/LOGO_BANCO_EXT.png" alt="logo do banco" class="img4">
            <ul>
                <li><a href="/"> Entrar na sua Conta </a></li>
            </ul>
        </nav>

        <div class="useracompanhamentocenter">
            <div class="useracompanhamentobox">
                <h2> Acompanhe sua solicitação! </h2>
            </div>

            <div class="useracompanhamentobox1">
                <form method="POST" action="/loginAcomp" name="cadastro">
                    <label for="fcpf">CPF (Somente números):</label>
                    <input oninput="mascaraCPF(this)" type="text" id="fcpf" placeholder="000.000.000-00" name="fcpf"> <br><br>
                    <label for="fpassword">Senha:</label>
                    <input type="password" id="fpassword" name="fpassword"><br><br>

                    <label>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% block body %}{% endblock %}</label>

                    <div class="useracompanhamentobutton1">
                        <button type="submit">Login</button>
                    </div>
                </form>
                
                                <div class="useracompanhamentobutton2">
                    <form method="GET" action="{{ url_for('index') }}">
                        <button type="submit">&#8592 Voltar</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>

    </body>

</html>