<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/menu_lateral_adm_geraltemplate.css.css') }}">
  <title>Home gerente</title>
</head>
<body>
  
</body>
</html>
{% extends "menu_lateral_adm_geral_template.html" %}

{% block contents %}
<!--caso o gerente NÂO tenha conta no banco-->

<!--<div class="admhomebox1">

  <h3>{{ nameManager }}</h3>
    <p>Agência: {{ agenciadoGer }}</p>

    </div>
</div>-->

<!--caso o gerente tenha conta no banco-->

<div class="admhomebox1">

  <h3>{{ nameManager }}</h3>
    <p>Agência: {{ agenciadoGer }}</p>
    <p>Conta> {{ contadoGer }}</p>
    <h4>Saldo:</h4>

    <div class="admhomebox2">
      <h2>R${{ saldodoGer }}</h2>
    </div>

    </div>
{% endblock contents %}