
    {% extends "menu_lateral_adm_template.html" %}

    {% block contents %}

    <div class="admapprovedatachangebox1">
        <h3> DADOS ATUAIS</h3>
        <h4>Conta: {{ user.account.account }} Agência: {{ user.account.agency }}</h4>
        <div>
            <p>Nome: {{ user.name }} </p>
            <p>Gênero: {{ user.gender }}</p>
        <br><br>
                    <h4>Endereço</h4>
         <p class="admapprovedatachangeright">Estado: {{ user.address.state }}</p>
         <p class="admapprovedatachangeleft">cidade: {{ user.address.city }}</p>
         <p>Bairro: {{ user.address.district }}</p>
         <p>Rua/Avenida {{ user.address.road }}</p>
         <p class="admapprovedatachangeright">CEP: {{ user.address.cep }}</p>
         <p class="admapprovedatachangeleft">Número {{ user.address.numberHouse }}</p>

    <div class="admapprovedatachangebox1">
        <h3>SOLICITAÇÃO DE ALTERAÇÃO DE DADOS CADASTRAIS</h3>
        <h4>Conta: {{ user.account.account }} Agência: {{ user.account.agency }}</h4>
        <div>
            <p>Nome: {{ solicitation.name }} </p>
            <p>Gênero: {{ solicitation.genre }}</p>
        <br><br>
                    <h4>Endereço</h4>
         <p class="admapprovedatachangeright">Estado: {{ solicitation.state }}</p>
         <p class="admapprovedatachangeleft">cidade: {{ solicitation.city }}</p>
         <p>Bairro: {{ solicitation.district }}</p>
         <p>Rua/Avenida {{ solicitation.road }}</p>
         <p class="admapprovedatachangeright">CEP: {{ solicitation.cep }}</p>
         <p class="admapprovedatachangeleft">Número {{ solicitation.number_house }}</p>

         



<br><br><br>
                    
                    <div class="admapprovedatachangecenter">
                        <a href="{{ url_for('solicitacao',user_id=solicitation.user_id, action='aprovar', id=solicitation.id_solicitation, type='Alteração de dados cadastrais') }}">
                            Aprovar
                        </a>
                        <a href= "{{ url_for('solicitacao',user_id=solicitation.user_id, action='reprovar', id=solicitation.id_solicitation, type='Alteração de dados cadastrais') }}">
                            Reprovar
                        </a>
                    </div>

    </div>
    

    {% endblock contents %}