{% extends "menu_lateral_adm_template.html" %}

{% block contents %}

<div class="admusersbutton">
    <form method="GET" action="{{ url_for('perform_admagency_creation')}}">
        <button type="submit">&#8592 Voltar</button>
</div>

<div class="admusersbox1">
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </p>
</div>


{% endblock contents %}