{% extends "menu_lateral_adm_template.html" %}

{% block contents %}

<div class="admdepositconfirmcenter1">

    <div class="admdepositconfirmbox1">
        <h2>DEPÓSITO</h2>
        <p>Agência: {{ user.account.agency }} / Conta: {{ user.account.account }}</p>
        <p>Saldo: R${{ "{:,.2f}".format (user.account.balance) }}</p>
    </div>

    <div class="admdepositconfirmbox2">
        <h3>CONFIRME O DEPÓSITO</h3>

        <p>Origem: {{ user.name }}</p>
        <p>Agência:{{ user.account.agency }} / Conta: {{ user.account.account }}</p> <br>
        <h3 for="fvalor">Valor: R$ {{ solicitation.deposit_value }}</h3>
        <br><br><br>

        <div class="admdepositconfirmcenter2">
            <form method="POST" action="{{ url_for('solicitacao',user_id=user.id, action='aprovar', id=solicitation.id_solicitation, type='Confirmação de depósito') }}">
                <button class="admdepositconfirmbutton2" type="submit">
                    Confirmar
                </button>
            </form>
        </div>
    </div>

    <form method="GET" action="{{ url_for('solicitations') }}">
        <button class="admdepositconfirmbutton1" type="submit">Cancelar</button>
    </form>

</div>

{% endblock contents %}
