<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
    <title>extrato</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/estilo_extrato.css') }}">

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e90eaadb0c.js" crossorigin="anonymous"></script>
</head>
<body>
    <img src="static/img/logo-banco.png" alt="Logo Spice Bank">
    <hr>
<div class="justify">

    <form method="GET" action="{{ url_for('solicitations') }}">
        <button type="submit">&#8592 Ok</button>
</form>

<form method="GET" action="{{ url_for('withdraw_and_close_account_comprovant', user_id=user.id) }}" target="_blank">
    <button type="submit">Imprimir</button>
</form>
        
    <div class="box1">
        <h2>extrato</h2> <br>
         <pre>{{ user.name }}
 agência: {{ user.account.agency }}/ conta:{{ user.account.account }} 
 <span style="font-size: 150%;">Saldo: R$ {{ "{:,.2f}".format(user.account.balance) }}</span></pre>
    </div>

    <table class="table-extrato">

        <tr>
            <th>data</th>
            <th>acão</th>
            <th>saldo</th>
            <th>situação</th>
        </tr>

        {% for extrato in extratos %}
            <tr>
                <td>{{ extrato.created_time }}</td>
                {% if extrato.operation == 'D'  %}
                    <td>Saque R$ {{"{:,.2f}".format(extrato.withdraw) }}</td>
                {% else %}
                    <td>Depósito R$ {{"{:,.2f}".format(extrato.deposit) }}</td>
                {% endif %}
                <td>{{ extrato.operation }} R$ {{"{:,.2f}".format(extrato.balance) }}</td>
                <td>{{ extrato.situation }}</td>
            </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>