{% extends "menu_lateral_adm_template.html" %}

{% block contents %}

    <form method="GET" action="{{ url_for('index') }}" class="admextratobutton1">
        <button type="submit">&#8592 Voltar</button>
</form>

<form method="GET" action="{{ url_for('print', user_id=user.id) }}" target="_blank" class="admextratobutton2">
    <button type="submit">Imprimir</button>
</form>
        
    <div class="admextratobox1">
        <h2>EXTRATO</h2> <br>
         <p>{{ user.name }}</p>
 <p>Agência: {{ user.account.agency }} / CC: {{ user.account.type }}:{{ user.account.account }}</p>
 <p>Data:{{ date }}</p>
 <h3>Saldo: R$ {{ "{:,.2f}".format(user.account.balance) }}</h3>
    </div>

    <table class="admextratotable">

        <tr>
            <th>DATA</th>
            <th>AÇÃO</th>
            <th>SALDO</th>
            <th>SITUAÇÃO</th>
        </tr>

        {% for extrato in extratos %}
            <tr>
                <td>{{ extrato.created_time }}</td>
                {% if extrato.operation == 'D'  %}
                    <td>Saque R$ {{"{:,.2f}".format(extrato.withdraw) }}</td>
                {% else %}
                    <td>Depósito R$ {{"{:,.2f}".format(extrato.deposit) }}</td>
                {% endif %}
                <td>{{ extrato.operation }} R$ {{"{:,.2f}".format(extrato.balance) }}</td>
                <td>{{ extrato.situation }}</td>
            </tr>
        {% endfor %}

    </table>

</div>

{% endblock contents %}