{% extends "menu_lateral_adm_template.html" %}

{% block contents %}
<div class="admextratobutton">
    <form method="GET" action="/">
        <button type="submit">&#8592 Voltar</button>
    </form>
</div>





<div class="admextratobox1">
    <h2>EXTRATO</h2>
    <p>Nome: {{ user.name }} Agência: {{ user.account.agency }} Conta: {{ user.account.account }}
    </p>
    <p>Saldo: R$ {{ "{:,.2f}".format(user.account.balance) }} </p>
</div>

<table class="admextratotable">

    <!--linha com títulos-->
    <tr>
        <th>data</th>
        <th>acão</th>
        <th>saldo</th>
        <th>situação</th>
    </tr>
        
        {% for extrato in extratos %}
            <tr>
                <td>{{ extrato.created_time }}</td>
                {% if extrato.operation == 'D'  %}
                    <td>Saque R$ {{"{:,.2f}".format(extrato.withdraw) }}</td>
                {% else %}
                    <td>Depósito R$ {{"{:,.2f}".format(extrato.deposit) }}</td>
                {% endif %}
                <td>{{ extrato.operation }} R$ {{"{:,.2f}".format(extrato.balance) }}</td>
                <td>{{ extrato.situation }}</td>
            </tr>
        {% endfor %}
</table>
{% endblock contents %}