{% extends "menu_lateral_adm_template.html" %}

{% block contents %}

<div class="admusersbutton">
    <form method="GET" action="{{ url_for('index')}}">
        <button type="submit">&#8592 Voltar</button>
    </form>
</div>

<div class="admusersbutton">
    <form method="GET" action="{{ url_for('admmanagercreation')}}">
        <button type="submit">Criar</button>
    </form>
</div>
<div class="admusersbox1">
    <h2>USUÁRIOS</h2>
    <p>Gerente: {{ manager.name }} Agência: {{ manager.workAgency }}
    </p>
</div>

<table class="admuserstable">

    <!--linha com títulos-->
    <tr>
        <th>NOME</th>
        <th>AGÊNCIA</th>
        <th>MATRÍCULA</th>
        <th>DETALHES</th>
    </tr>
    {% for manager in managers %}
    <tr>
        <td>{{ manager.nameUser }}</td>
        <td>{{ manager.work_agency_id }}</td>
        <td>{{ manager.registration_number }}</td>
        <td>
            <a
                href="{{ url_for('adm_manager_details',user_id=manager.idUser)}}">
                Detalhes
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock contents %}