{% extends "menu_lateral_adm_template.html" %}

    {% block contents %}

    <div class="admprofilebox1">
        <form method="POST" action="{{ url_for('admprofile') }}">
        <h3>DADOS PESSOAIS</h3>
        <h4>Agência: {{ manager.workAgency }} Matrícula: {{ manager.registrationNumber }}</h4>
        <div>
            <label for="fname">Nome:</label>
            <input type="text" id="fname" name="fname" value="{{ manager.name }}"> <br><br>
            <p class="admprofileleft">CPF: {{ manager.cpf }} </p>
            <br>
            <p class="admprofileright">Data de Nascimento: {{ manager.birthDate }} </p>
            <label for="fgenre" class="form-label mb-0" class="admprofileright">Gênero</label>
            <select id="fgenre" name="fgenre" class="form-select">
                {%if manager.gender== 'M': %}  
                    <option value="{{ manager.gender }}">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outros</option>
                {%elif manager.gender == 'F': %}  
                    <option value="{{ manager.gender }}">Feminino</option>
                    <option value="F">Masculino</option>
                    <option value="O">Outros</option>
                {%else: %}
                    <option value="{{ manager.gender }}">Outros</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                {% endif %}
            </select>
            
        <br><br>
            <h4>Endereço</h4>
            <label for="froad">Endereço: Rua/Avenida: </label>
            <input type="text" id="froad" name="froad" value="{{ manager.address.road }}"><br><br>
            <label for="fnumberHouse">Número: </label>
            <input type="text" id="fnumberHouse" name="fnumberHouse" value="{{ manager.address.numberHouse }}"><br><br>
            <label for="fdistrict">Bairro: </label>
            <input type="text" id="fdistrict" name="fdistrict" value="{{ manager.address.district }}"><br><br>
            <label for="fcity"> Cidade: </label>
            <input type="text" id="fcity" name="fcity" value="{{ manager.address.city }}"><br><br>
                    <div class="admprofileleft">
                        <label for="fstate" class="form-label mb-0">Estado *</label>
                        <select id="fstate" name="fstate" class="form-select">
                            <option selected="" value="{{ manager.address.state }}">{{ manager.address.state }}</option>
                            <option value="Acre">Acre</option>
                            <option value="Alagoas">Alagoas</option>
                            <option value="Amapá">Amapá</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Ceará">Ceará</option>
                            <option value="Distrito Federal">Distrito Federal</option>
                            <option value="Espírito Santo">Espírito Santo</option>
                            <option value="Goiás">Goiás</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Mato Grosso">Mato Grosso</option>
                            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Pará">Pará</option>
                            <option value="Paraíba">Paraíba</option>
                            <option value="Paraná">Paraná</option>
                            <option value="Pernambuco">Pernambuco</option>
                            <option value="Piauí">Piauí</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            <option value="Rondônia">Rondônia</option>
                            <option value="Roraima">Roraima</option>
                            <option value="Santa Catarina">Santa Catarina</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sergipe">Sergipe</option>
                            <option value="Tocantins">Tocantins</option>
                        </select>
                    </div>
        <div class="admprofileright">
            <label for="fcep">CEP:</label>
            <input type="text" id="fcep" name="fcep" value="{{ manager.address.cep }}"> <br><br>
        </div>
        <br><br>
            <label>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}
            </label><br>

            <div class="admprofilebutton1">
                <button type="submit">Salvar</button>
            </div>
        </form>
        <form method="GET" action="{{ url_for('index') }}" class="admprofilebutton2">
            <button type="submit">Voltar</button>
        </form>
<br><br><br>

    </div>

    {% endblock contents %}