{% extends "menu_lateral_adm_template.html" %}

{% block contents %}

<div class="admusersbutton">
    <form method="GET" action="{{ url_for('index')}}">
        <button type="submit">&#8592 Voltar</button>
    </form>
</div>

<div class="admusersbox1">
    <h2>USUÁRIOS</h2>
    <p>Gerente: {{ manager.name }} Agência: {{ manager.workAgency }}
    </p>
</div>

<table class="admuserstable">

    <!--linha com títulos-->
    <tr>
        <th>NOME</th>
        <th>AGÊNCIA</th>
        <th>CONTA</th>
        <th>EXTRATO</th>
        <th>DETALHES</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.nameUser }}</td>
        <td>{{ user.agencyUser }}</td>
        <td>{{ user.numberAccount }}</td>
        <td>
            <a
                href="{{ url_for('statement_user', account_id=user.idAccount)}}">
                Extrato
            </a>
        </td>
        <td>
            <a
                href="{{ url_for('adm_user_details', account_id=user.idAccount)}}">
                Detalhes
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock contents %}