<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo_deposito.css">
    <link rel="shortcut icon" href="imagens/deposito.ico" type="image/x-icon">
    <title>Depósito</title>
</head>
<body>
    <div class="center">
        <img src="imagens/logo-banco.png" alt="logo banco">
        <br><br><br>
    <hr color="#00BFFF" >
    </div>
    <div class="formulario">
        <p>Depósito</p>
        <hr color="#00BFFF" >
    </div>
    <div class="mensagem">
        <h3>Agência:{{ agencia }}/Conta:{{ conta }}</h3>
        <h3> Saldo disponível: R${{ saldo }}}</h3>
    </div>
    
    <div class="center">
    <form method="POST" action="/withdraw" name="deposit">
        <label for="fvalor">Valor para depósito:</label>
        <input type="text" id="fvalor" name="fvalor" placeholder="R$ 0000.00"><br><br><br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        <button type="submit">Depositar</button>
    
    </div>
    <button type="submit">&#8592 Voltar</button>
    </form>
</body>
</html>