<!-- Tela de Confirmação de Depósito do Usuário -->
{% extends "menu_lateral_template.html" %}

{% block contents %}

    <title> Confirme seu Depósito | SpiceBank </title>

        <br>
        <br>
        <br>
        <div class="userdepositconfirmcenter1">
        
            <div class="userdepositconfirmbox1">
                <h3> Confirme seu depósito </h3>
            </div>

            <div class="userdepositconfirmbox2">
                <form method="POST" action="{{ url_for('depositconfirm') }}" name="depositconfirm">
                    <p> Origem: {{ name }}</p>
                    <p> Agência: {{ agencia }} / {{ type }}: {{ conta}} </p>
                    <p> Data: {{ date }} </p>
                    <br>
                    <h3> Valor: </h3>
                    <label for="fvalor">R$</label>
                    <input type="text" id="fvalor" name="fvalor" readonly="readonly" value={{ valor }}><br><br>
                <br>
                <button class="userdepositconfirmbutton2" type="submit">Confirmar</button>
            </div>
                </form>
            <br>
            <form method="GET" action="{{ url_for('depositform') }}" name="depositform">
                <div style="margin-left: 0%">
                    <button class="userdepositconfirmbutton1" type="submit">&#8592 Cancelar e voltar</button>
                </div>
            </form>
        </div>
        <br>

{% endblock contents %}