{% extends "menu_lateral_template.html" %}

{% block contents %}

<title>Extrato | SpiceBank</title>

    <form method="GET" action="{{ url_for('index') }}" class="userextratobutton1">
        <button type="submit">&#8592 voltar</button>
</form>

<form method="GET" action="{{ url_for('print') }}" target="_blank" class="userextratobutton2">
    <button type="submit">Imprimir</button>
</form>

<form method="POST" action="">
    <div class='col-sm-4'>
        <div class='form-group'>
            <select name='pesquisarOperacao'>
                <option value=''>Selecione uma Operação...</option>
                <option value= 'C'>Depósito</option>";
                <option value= 'D'>Saque</option>";
                <option value= 'T'>Transferência</option>";
            </select>
        </div>
    </div>

    <div class='col-sm-4'>
        <div class='form-group'>
            <label>Selecione um período</label>
            <input type="date" name='dataInicio'>
            <label>até</label>
            <input type="date" name='dataFinal'>
        </div>
    </div>

    
    <div class='form-group text-right'>
        <button name='buscar' id='buscar' type='submit'>
        &nbsp;&nbsp;Buscar</button>
    </div>

</form>
        
    <div class="userextratobox1">
        <h2>EXTRATO</h2> <br>
         <p>{{ nome }} </p>
 <p>Agência: {{ agencia }}/ {{ type }}: {{ conta }} </p>
 <P>Data: {{ date }}</p>
 <h3>Saldo: R$ {{ "{:,.2f}".format(saldo) }}</h3>

    </div>

    <label>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </label><br>

    <table class="userextratotable">

        <tr>
            <th>DATA</th>
            <th>AÇÃO</th>
            <th>SALDO</th>
            <th>SITUAÇÃO</th>
        </tr>

        {% for extrato in extratos %}
            <tr>
                <td>{{ extrato.created_time }}</td>
                <td>
                {% if extrato.operation == 'D'  %}
                    Saque R$ {{"{:,.2f}".format(extrato.withdraw) }}
                {% elif extrato.operation == 'T' %}
                    {% if extrato.deposit > 0 %}
                        Transferência - Recebida R$ {{"{:,.2f}".format(extrato.deposit) }}
                    {% else %}
                        Transferência - Enviada R$ {{"{:,.2f}".format(extrato.withdraw) }}
                    {% endif %}
                {% else %}
                    Depósito R$ {{"{:,.2f}".format(extrato.deposit) }}
                {% endif %}
                </td>
                <td>{{ extrato.operation }} R$ {{"{:,.2f}".format(extrato.balance) }}</td>
                <td>{{ extrato.situation }}</td>
            </tr>
        {% endfor %}

    </table>

</div>

{% endblock contents %}