<!--Tela Home-->
{% extends "menu_lateral_template.html" %}

{% block contents %}

    <title> Home | SpiceBank </title>
    <body>
    
        <div class="userhomebox1">
            <h3> Olá, {{ name }}! </h3>
            <p> Data: {{ date }} </p>
            <p> Agência: {{ agencia }} / {{ type }}: {{ conta}} </p>
            <h4> Saldo disponível: </p>
        
            <div class="userhomebox2">
                <h2> R$ {{ "{:,.2f}".format(saldo) }} </h2>
            </div>
        </div>

    </body>

{% endblock contents %}