<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/estilo_home.css') }}">
    <script src="https://kit.fontawesome.com/e90eaadb0c.js" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/estilo-login.css') }}">
    <link rel="shortcut icon" href="static/img/login.ico" type="image/x-icon">
    <title>Home</title>
</head>

<body>
    <div class="linha-cabeçalho">
        <p style="padding-left: 60px;">Solicitações</p>
    </div>

    <div class="center">
        <img src="static/img/logo-banco.png" alt="logo banco">
    </div>
    <hr color="#00BFFF">
    <div class="center">
            Olá, {{ name }}! <br>
            Status da conta: {{ solicitacao }} <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
    </div>
    <!-- <a href="/withdrawform">
        <button type="button"><i class="fa-solid fa-hand-holding-dollar"></i><div>Solicitar abertura de Conta</div></button>
    </a> -->
    <div class="formulario">
        <form method="GET" action="/logout">
        <button type="submit">Logout</button>
        </form>
    </div>

    <!-- <a href="/logout">
        <button type="button">
            <div>Logout</div>
        </button>
    </a> -->

</body>

</html>