<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_template.css') }}">
    <script src="https://kit.fontawesome.com/e90eaadb0c.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="static/img/login.ico" type="image/x-icon">
    <title> Acompanhamento | SpiceBank</title>
</head>

<body class="userbodyhacompanhamento">

    <nav class="husernav"></nav>

    <!--Se solicitação de abertura de conta existir:-->
    {% for account in accounts %}
    <div class="userhacompanhamentobox1">
        <h2> Olá, {{ account.nameUser }}! </h2>
        <br>
        Status da conta: {{ account.status }}<br>
        <div class="center"></div>
        {% if account.status == 'Aprovado'%}
        {% if account.account_type == 'CC'%}
            <p>Tipo de conta: Conta Corrente</p>
        {% else %}
            <p>Tipo de conta: Conta Poupança</p>
        {% endif %}
            <p>Agência: {{ account.agencyUser }} / Conta: {{ account.numberAccount }}</p>
            <p>Guarde sua agência e conta!</p>

        {% elif account.status == 'Reprovado'%}
            <p>Solicitação de abertura de conta recusada, entre em contato conosco!</p>

        {% elif account.status == 'Encerrado' %}
            <p>Sua conta foi encerrada.</p>
            <form method="GET" action="{{ url_for('follow_up_statements', account_id=account.idAccount) }}"
                target="_blank">
                <button type="submit">Verificar extrato da conta</button>
            </form>
        {% else %}
            <p>Aguardando análise de solicitação.</p>
        {% endif %}
        </div>

    </div>
    {% endfor %}

    <div class="center">
        <div class="userhacompanhamentobutton2">
            <form method="GET" action="/logout">
                <button type="submit">Sair</button>
            </form>
        </div>
    </div>
</body>

</html>