<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/menu_lateral_template.css') }}">
    <link rel="shortcut icon" href="static/img/login.ico" type="image/x-icon">
    <title>Login</title>
</head>

<body class="admbody">
    
   <nav class="hadmnav">
    <ul>
        <li> <a href="http://127.0.0.1:5000">Entrar na sua Conta</a> </li>
    </ul>
</nav>

    <div class="center">
        <h2>Acesse a sua conta!</h2>
    </div>

    <div class="admloginbox1">
        <form method="POST" action="/loginGerente" name="loginGerente">
            <p>Matrícula:</p>
            <input type="text" id="fmatricula" name="fmatricula" placeholder="MATRÍCULA"><br><br>
            <p>Senha:</p>
            <input type="password" id="fpassword" name="fpassword" placeholder="SENHA"><br><br>

            <label>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}</label>

            <div class="admloginbutton1">
                <button type="submit" >Login</button>
            </div>
        </form>
    </div>
</body>

</html> 