<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo-login.css">
    <title>Login</title>
    <link rel="shortcut icon" href="imagens/login.ico" type="image/x-icon">
</head>
<body>
    <div class="linha-cabeçalho">
        <hr>
        </div>
        <div class="center">
            <img src="imagens/logo-banco.png" alt="Logo do banco"> 
        </div>

<div class="formulario">
    <form method="POST" action="/login" name="cadastro">
        <label for="fagency">Agência:</label>
        <input type="text" placeholder="1" id="fagency" name="fagency"><br><br>
        <label for="faccount">Conta:</label>
        <input type="text" placeholder="0000" id="faccount" name="faccount"><br><br> 
        <label for="fpassword">Senha:</label>
        <input type="password" id="fpassword" name="fpassword"><br><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
         
        <div class="center">
        <button type="submit">Login</button>
    </form>
    <br><br>
    <form action="/registerform">
        <button type="submit">Cadastrar nova conta</button>
    </form>
         </div>
        
</div>
</body>
</html>