<!-- Tela de Confirmação de Solicitação de Abertura de Nova Conta do Usuário -->
{% extends "menu_lateral_template.html" %}

{% block contents %}

    <title> Nova Conta | SpiceBank </title>

        <br>
        <br>
        <br>
        <div class="usernewaccountconfirmcenter1">
    
            <div class="usernewaccountconfirmbox1">
                <h3> Solicitação de Abertura de Conta </h3>
            </div>
            <div class="useraccountclosereprovebox2">
                <h3> {{ user.name }}, sua solicitação de abertura de nova conta foi enviada com sucesso. Verifique o status no login de acompanhamento. </h3>
            <br>                
        </div>
        <br>
        <form method="GET" action="{{ url_for('index') }}">
            <div style="margin-left: 0%;">
                <button class="usernewaccountconfirmbutton1" type="submit">&#8592 Voltar</button>
            </div>
        </form>
    </div>
    <br>

{% endblock contents %}