<!-- Tela de Solicitação de Nova Conta -->
{% extends "menu_lateral_template.html" %}

{% block contents %}

    <title> Nova Conta | SpiceBank </title>

    <br>
    <br>
    <br>
    <div class="usernewaccoutcenter1">
    
        <div class="usernewaccountbox1">
            <h3> Abrir Nova Conta </h3>
        </div>

        <div class="usernewaccountbox2">
            <h4> {{ name }}, confirme os dados abaixo para solicitar abertura de nova conta.</h4>
            <div>
                <p> Nome: {{ user.name }} </p>
                <p> Gênero: {{ user.gender }}</p>
                <p class="usernewaccountright"> Data de Nascimento: {{ user.birthDate }}</p>
                <p class="usernewaccountleft"> CPF: {{ user.cpf }}</p>
                <br><br><br>
                <h4>Endereço</h4>
                <p class="usernewaccountright"> Estado: {{ user.address.state }}</p>
                <p class="usernewaccountleft"> Cidade: {{ user.address.city }}</p>
                <p> Bairro: {{ user.address.district }}</p>
                <p> Rua/Avenida {{ user.address.road }}</p>
                <p class="usernewaccountright"> CEP: {{ user.address.cep }}</p>
                <p class="usernewaccountleft"> Número {{ user.address.numberHouse }}</p>
            </div>
                <br><br><br>
        
                <div class="usernewaccountsolicitationcenter">
                    <form
                        action="">
                        <button type="submit" class="usernewaccountsolicitationbutton1">
                            Abrir Nova Conta
                        </button>
                    </form>
                    {% endif %}
                    </div>

                    <form
                        action="">
                        <button type="submit" class="admapprovedeleteaccountbutton2">&#8592 Voltar</button>
                    </form>
            </div>
            <br>
            <br>

{% endblock contents %}