<!-- Tela de Saque -->
{% extends "menu_lateral_template.html" %}

{% block contents %}

    <title> Saque | SpiceBank </title>

    <body>
        <div class="usersaquecenter1">

            <div class="usersaquebox1">
                <h3> Saque </h3>
                <p> Agência: {{ agencia }} / {{ type }}: {{ conta}} </p>
                <p> Data: {{ date }} </p>
                <h3> Saldo disponível: R${{ saldo }} </h3>
            </div>

            <div class="usersaquebox2">
                <h3> Insira o valor do saque: </h3>
                <form method="POST" action="/withdraw" name="saque">
                    <label for="fvalor"> R$ </label>
                    <input onkeyup="moneyMask(this)" type="text" id="fvalor" name="fvalor" placeholder="00,00"><br><br>

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        {% block body %}{% endblock %}
                    <button class="usersaquebutton2" type="submit">Sacar</button>
                </form>
            </div>
        <br>
        <form method="GET" action="{{ url_for('index') }}">
            <div style="margin-left: 0%;">
                <button class="usersaquebutton1" type="submit">&#8592 Cancelar e voltar</button>
            </div>
        </form>
        <br>
    </body>

{% endblock contents %}