<!-- Tela de Confirmação de Transferência-->
{% extends "menu_lateral_template.html" %}

{% block contents %}    

<body>
    
    <title> Confirmação de Transferência </title>

    <div class="justify">
        <br><br>
        <form method="POST" action="{{ url_for('transferconfirm') }}" name="transferconfirm">
        <div class="box1">
            <p> Origem: {{ name }}</p>
            <p> Agência:{{ agencia }} /conta: {{ conta }} </p><br><br>
            <p> Favorecido: {{ name }}</p>
            <p> Agência:{{ agencia }} /conta: {{ conta }}</p> 
            <p> Data: {{ data }}</p><br>
            <h2> Valor R${{valor}}</h2><br>
        </div>
 
            <div>
                <button type="submit">&#8592 Confirmar e Transferir</button>
            </div>
        </form>
    </div>
        <form method="GET" action="{{ url_for('transferform') }}" name="transferform">
            <div>
                <button type="submit">&#8592 Cancelar e voltar</button>
            </div>
        </form>

<body>
{% endblock contents %}