<!-- Tela de Confirmação de Transferência-->
{% extends "menu_lateral_template.html" %}

{% block contents %}    

    <title> Confirme sua Transferência | SpiceBank </title>

    <body>
        <div class="usertransferconfirmcenter1">
        
            <div class="usertransferconfirmbox1">
                <h3> Confirme sua transferência </h3>
            </div>

            <div class="usertransferconfirmbox2">
                <form method="POST" action="{{ url_for('transferconfirm') }}" name="transferconfirm">
                    <p> Origem: {{ name }} </p>
                    <p> Agência: {{ agencia }} / {{type}}: {{ conta }} </p> 
                    <br>
                    <label>Favorecido:</label>
                    <br>
                    <input type="text" id="fuserForTransfer" name="fuserForTransfer" readonly="readonly" value={{ userForTransfer }}>
                    <br>
                    <br>
                    <br>
                    <label>Agência do Favorecido:</label>
                    <br>
                    <input type="text" id="fagencyUserT" name="fagencyUserT" readonly="readonly" value={{ agencyUserT }}>
                    <br>
                    <br>
                    <br>
                    <label>Conta do Favorecido:</label>
                    <br>
                    <input type="text" id="fnumberAccountT" name="fnumberAccountT" readonly="readonly" value={{ numberAccountT }}>
                    <br>
                    <br>
                    <br>
                    <label> Data:</label>
                    <br>
                    <input type="text" id="fdataAtual" name="fdataAtual" readonly="readonly" value={{ dataAtual }}> 
                    <br>
                    <br>
                    <h3>Valor:</h3>
                    <label for="fvalor">R$</label>
                    </p><input type="text" id="fvalor" name="fvalor" readonly="readonly" value= {{ valor }}> 
                    <!-- </p><input type="text" id="fvalor" name="fvalor" readonly="readonly" value= {{ #"{:,.2f}".format(valor) }}> --> 
            
                    <input type="hidden" id="fidTransfer" name="fidTransfer" readonly="readonly" value={{ idForTransfer }}>
                    <br>
                    <input type="hidden" id="faccountUserT" name="faccountUserT" readonly="readonly" value={{ accountUserT }}>
                    <br>
                    <input type="hidden" id="fidPeoplefis" name="fidPeoplefis" readonly="readonly" value={{ idPeoplefis }}>
                    <br>
                    <br>
                    <button class="usertransferconfirmbutton2" type="submit"> Confirmar e Transferir</button>
                </form>
            </div>
        <br>
        <form method="GET" action="{{ url_for('transferform') }}" name="transferform">
            <div style="margin-left: 0%">
                <button class="usertransferconfirmbutton1" type="submit">&#8592 Cancelar e voltar</button>
            </div>
        </form>
    <body>
{% endblock contents %}