@charset "UTF-8";
button{
  width: 300px;
  height: 200px;
  background-color: #212121;
  border-color: rgb(80, 80, 100);
  margin: 5%;
  border-radius: 60px;
  font-size: 25px;
  color: white;
}
button:hover {
  background-color:rgb(0, 0, 0)
}
hr{
  border-color:#1ABBEE;
}

img{
  width: 15%;
  height: 8%;
  margin-left: 80%;
}
div{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px
}

