.mensagem{
    margin-left: 5%;
    font-size: 20px;
}

button {
    background-color: #1ABBEE;
    border-color: rgb(80, 80, 100);
    padding: 0.5%;
    width: 350px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor:pointer;
}

button:hover {
    background-color:rgb(69, 168, 224)
}

input{
    padding: 0.5%;
    border-radius: 8px;
    width: 150px;
    font-size: 20px; 
}

img{
    width: 15%;
    height: 8%;
    margin-left: 80%;
}
p{
    font-size: 25px;
    font-weight: 200;
}