*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.justify{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.justify > form > button {
    background-color: #212121;
    border-color: rgb(80, 80, 100);
    padding: 0.5%;
    width: 10%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 100%;
    cursor:pointer;
}
img{
margin-left: 65%;
width: 15%;
height: 8%;
}

            /*Tela de extrato*/
/*cria uma caixa ocupando 50% da tela para colocar as informações do cliente*/
.box1{
    color: rgb(0, 0, 0);
    position: relative;
    margin: 0 auto;
    height: fit-content;
    text-align: center;
    padding: 20px;
}

.box1 > h2{
    text-align: center;
    text-transform: uppercase;
}


/*justifica a tabela*/
.table-extrato{
    background-color: white;
    text-align: center;
    width: 100%;
}

th{
    background-color: #cecece;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }


/**/
/**/
/**/