body {
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.formulario {
    margin-top:3%;
    margin-left: 40%;
    margin-right: 38%;
    width: 15%;
    border-radius: 15px;
}
input{
    padding: 0.5%;
    border-radius: 12px;
    font-size: 20px; 
}
button {
    background-color: #1ABBEE;
    border-color: rgb(80, 80, 100);
    padding: 8%;
    width: 265px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor:pointer;
}
button:hover {
    background-color:rgb(69, 168, 224)
}

.linha-cabeçalho {
    margin-top: 4%;
}

hr{
    border-color: aqua;
}

label{
    display: block;
    border-left: 30%;
    margin: 0 auto;
    font-size: 150%;
}