body {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin-top: 1%;
    text-align: center;
}

button {
    background-color: #1ABBEE;
    border-color: #112DBC;
    padding: 1%;
    width: 265px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor:pointer;
}

button:hover {
    background-color:rgb(69, 168, 224)
}

input{
    padding: 0.3%;
    border-radius: 12px;
    font-size: 15px;
    width: 30%;
    display: block;
    
    margin: 0 0%;
}

.genero {
    display: block;
    padding-left: 41%;
  }
td{
    size: 25%;
}

  label{
    display: block;
    border-left: 30%;
    margin: 0 auto;
  }

