body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.formulario {
    margin-top:3%;
    margin-left: 40%;
    margin-right: 38%;
    width: 15%;
    border-radius: 15px;
}
input{
    padding: 0.5%;
    border-radius: 12px;
    font-size: 20px; 
}
button {
    background-color: #212121;
    border-color: rgb(80, 80, 100);
    padding: 8%;
    width: 265px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor:pointer;
}


button:hover {
    background-color:rgb(0, 0, 0)
}

.linha-cabeçalho {
    margin-top: 4%;
}

hr{
    border-color: #212121;
}

label{
    display: block;
    border-left: 30%;
    margin: 0 auto;
    font-size: 150%;
}

nav {
    list-style: none;
    padding: 0;
    background-color: #212121;
    position: sticky;
  top: 0;
  width: 100%; 
  z-index: 100;}

nav > ul {
margin: 0;}

nav >  ul > li {
    display: inline;
text-align: end;}

nav >  ul > li > a{
    color: #F0F2F2;
    text-decoration: none;
    padding: 0;
    display: inline-block;
    margin: auto;
    padding: 20px;
    transition: background .4s;}

nav >  ul > li > a:hover{
    background-color: #000000;
    transition: background .4s;}
