*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.justify{
    float: right;
    width: 85%;
  height:100%;
}

@media screen and (max-width: 750px) { 
    .justify{
        float: none;
        width: 100%;
    }

}
.templatedatetime{
margin: auto;
color: #000;
  padding:15px;
  position:fixed;
  bottom:0;
  right:0;
}

/*Formatação da definição de fees inicial*/

.feesbody{
    background-color: #6b8064;
    font-family: 'Montserrat', sans-serif;
}

    /*Barra de navegação HORIZONTAL do gerente (login)*/

    .hgeneralnav{
      padding: 0;
      background-color: #0d3b1b;
      position: fixed;
      top: 0;
      width: 100%; 
      height: 7%;
    }
    .hgeneralnav >  ul {
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
       }
    
    .hgeneralnav > ul > li > a > i{
        padding: 7%;
       }
    
    .hgeneralnav > ul > li > a{
        color: #0d3b1b;
        text-decoration: none; 
        padding: 5px;
        float:right;
        margin-right:5%;
        transition: background .4s;}
    
    .hgeneralnav > ul > li > a:hover{
        background-color: #f5f5f5;
        transition: background .4s;}

    /**/

    /*fees.html*/

/*centralizar*/
.feescenter1{
    margin: auto;
    width:30%;
}

.feescenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.feesbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
}

.feesbox1 > h3{    
    text-align: center;
}

.feesbox1 > p{    
    text-align: center;
}

.feesbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
}

.feesbox2 > h3{
    text-align: center;
    color: #868686;
}

.feesbox2 > form{

    margin: auto;
    text-align: center;
}

.feesbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.feesbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.feesbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.feesbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.feesbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.feesbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.feesbutton2:hover{
    background-color:rgb(71, 177, 106);
}

.generalbutton1{
    text-align:center;
    margin-top:5%;
}

      /*RESPONSIVIDADE DA TELA fees.HTML*/

@media screen and (max-width: 750px) { 
    .feescenter1{
      margin: auto;
      width: 75%;
      background-color: #d6d6d6;
      Margin-top: 10%;
      padding: 40px;
}
}



    /*feesconfirm.html*/ 

/*centralizar*/
.feesconfirmcenter1{
    margin: auto;
    width:50%;
}

.feesconfirmcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.feesconfirmbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
}

.feesconfirmbox1 > h3{    
    text-align: center;
}

.feesconfirmbox1 > p{    
    text-align: center;
}

.feesconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
}

.feesconfirmbox2 > h3{
    text-align: center;
    color: #868686;
}

.feesconfirmbox2 > form{

    margin: auto;
    text-align: center;
}

.feesconfirmbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.feesconfirmbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.feesconfirmbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.feesconfirmbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.feesconfirmbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.feesconfirmbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.feesconfirmbutton2:hover{
    background-color:rgb(71, 177, 106);
}



      /*RESPONSIVIDADE DA TELA feesCONFIRM.HTML*/

      @media screen and (max-width: 750px) { 
        .feescenter1{
          margin: auto;
          width: 75%;
          background-color: #d6d6d6;
          Margin-top: 10%;
          padding: 40px;
    }
    }
    