

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.justify{
    float: right;
    width: 85%;
  height:100%;
}

.templatedatetime{
margin: auto;
color: #fff;
  padding-left:15px;
  background-color:#23371e;
}

@media screen and (max-width: 750px) { 
    .justify{
    float: none;
    width: 100%;
}
.templatedatetime{
position:fixed;
top:15px;
  right:16%;
}
}

/*Formatação do gerente*/

.admbody{
    background-color: #6b8064;
    font-family: 'Montserrat', sans-serif;
}

    /*Barra de navegação HORIZONTAL do gerente (login)*/

    .hadmnav{
      padding: 0;
      background-color: #23371e;
      position: fixed;
      top: 0;
      width: 100%; 
      height: 7%;
    }
    .hadmnav >  ul {
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
       }
    
    .hadmnav > ul > li > a > i{
        padding: 7%;
       }
    
    .hadmnav > ul > li > a{
        color: #fff;
        text-decoration: none; 
        padding: 5px;
        float:right;
        margin-right:5%;
        transition: background .4s;}
    
    .hadmnav > ul > li > a:hover{
        background-color: #6b8064;
        transition: background .4s;}


    /*Barra de navegação lateral do gerente (verde)*/

.admnavitem > label{
  display:none;
  padding:15px;
  cursor:pointer;
}
.admnavitem > input {
  display:none;
}

.admnav{
    padding: 0;
    background-color: #23371e;
    position: fixed;
    top: 0;
    width: 15%; 
  min-width:140px;
    height: 100%;
    float: left;
}
.admnav > div >  ul {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
   }
   

.admnav > div > ul > li > a > i{
    padding: 5px;
   }

.admnav > div > ul > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 13px;
    transition: background .4s;
    }

.admnav > div > ul > li > a:hover{
    background-color: #f5f5f5;
    color: #40573a;
    transition: background .4s;}
    

.admnavdiv{
        background-color: #d6d6d6;
        position:absolute;
        bottom:0;
        position:fixed;
        width: 15%;
        min-width:140px;
    }
.admnavdiv > a {
    display: block;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; 
    padding: 10px;
    transition: background .4s;
}


 .admnavdiv > a > i{
        padding: 5px;
    }

.admnavdiv > a:hover{
     background-color: #f5f5f5;
    transition: background .4s;}

                /*RESPONSIVIDADE MENU LATERAL*/

@media screen and (max-width: 750px) {

.admnavitem > label{
  display:block;
  padding:15px;
  cursor:pointer;
  color:#fff;
}
.admnavitem > input {
  display:none;
}
  
  .admnavitem > input:checked ~ ul{
    height:auto;
    transform:all;
  }

.admnav{ padding: 0;
            position: fixed;
            top: 0;
            width: 86%; 
            height: 50px;
    }

    .admnav > div >  ul {
      overflow:hidden;
      width: 100%;
      margin-top:50px;
      top:0;
      transform: none;
      height:0;
      z-index:none;
      background-color: #23371e;
      transition: all 0.3s linear;
       }
  
    .admnav > div >  ul >li {
        display:block;
        font-size:100%;
       }
    
    .admnav > ul > li > a > i{
        display:none;
       }
    
    .admnav > ul > li > a{
        text-decoration: none; 
              height:100%;
        transition: background .4s;}
    
    .admnav > ul > li > a:hover{
        background-color: #f5f5f5;
        transition: background .4s;}
        
    
    .admnavdiv{
      height: 50px;
      width:14%;
      position:fixed;
      top:0;
      margin-left:86%;
        }
    .admnavdiv > a {
        text-transform: uppercase;
        color: #000;
        text-decoration: none; 
        padding: 5px;
        transition: background .4s;
        height:100%;}

  
    
    .admnavdiv > a:hover{
         background-color: #f5f5f5;
        transition: background .4s;}
    
}
    /**/

    /*LoginGerente.html*/

    /*caixa cinza claro*/
.admloginbox1{
    margin: auto;
    width: 25%;
    background-color: #d6d6d6;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
    Margin-top: 10%;
    padding: 40px;
}

.admloginbox1 > form {
    text-align:center;
  
}

.admloginbox1 > form > input{
    margin:auto;
    width:100%;
    border-style:none;
  border-radius: 5px;
    text-align:center;
    padding:15px;
    
}

.admloginbutton1 > button {
    background-color:#ffff;
    border-style:none;
    padding:15px;
    cursor:pointer;
}


.admloginbutton1 > button:hover{
            background-color:#678a5c87;
}


.admloginbutton2{
    text-align:center;
    margin-top:5%;
}
.admloginbutton2 > form > button{
        background-color:#ffff;
    border-style:none;
    padding:15px;
    cursor:pointer;
}

.admloginbutton2 > form > button:hover{
            background-color:#678a5c87;
}

      /*RESPONSIVIDADE DA TELA ADMLOGIN.HTML*/

@media screen and (max-width: 750px) { 
    .admloginbox1{
      margin: auto;
      width: 75%;
      Margin-top: 10%;
      padding: 40px;
}

}

      /*admhome.html*/

/*caixa cinza claro*/
.admhomebox1{
    margin: auto;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
    background-color: #ffff;
    Margin-top: 15%;
    padding: 10px;
}

.admhomebox1 > h3{
    text-align: center;
}

/*muda todos p dentro da classe homebox1 */
.admhomebox1 > p{ 
    margin-top: 5%;
}
            /*RESPONSIVIDADE ADMHOME.HTML*/

@media screen and (max-width: 750px) {

    .admhomebox1{
        margin: auto;
        width: 75%;
        Margin-top: 15%;
        padding: 10px;
}
}

                    /*admsolicitations.html*/

.admsolicitationsbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius:5px 5px 0px  0px;
    Margin-top: 1%;
    padding: 10px;
}
.admsolicitationsbox1 >h2{
text-align:center;
}
.admsolicitationsbox1 >p{
text-align:center;
margin-top: 1%;
}

.admsolicitationstable{
        margin: auto;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 0px 0px 5px 5px;
        background-color: white;
        text-align: center;
    }
    
.admsolicitationstable > table, tr  th {
        background-color:#d6d6d6;
    }
        .admsolicitationstable > table, tr  td a {
        color:black;
        text-decoration:none;
        display:block;
        padding:8px;
    }

.admsolicitationstable > table, td {
           border: 1px solid black;
           border-collapse: collapse;
         }
.admsolicitationsbutton{
            margin-right: 20px;
        
        }
.admsolicitationsbutton > form{
            margin-left:15.2%;
            margin-top:5%;
        }
        
.admsolicitationsbutton > form >button{
            cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}


.admsolicitationsaprovar:hover{
  background-color:lawngreen;
}

.admsolicitationsreprovar:hover{
  background-color:indianred;
}

.admsolicitationsdetalhes:hover{
  background-color: lightgrey;
}




    /*RESPONSIVIDADE ADMSOLICITATIONS.HTML*/

    @media screen and (max-width: 750px) {
        .admsolicitationsbutton > form >button{
          margin-top:10%;}
      
  .admsolicitationsbox1{
    margin: auto;
    width: 80%;
    background-color: #d6d6d6;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius:5px 5px 0px  0px;
    Margin-top: 8%;
    padding: 10px;
}

      .admsolicitationsbutton > form{
            margin-left:10%;
            margin-top:5%;
        }
              
.admsolicitationsbutton > form >button{
        padding: 10px;}
      
.admsolicitationstable{
        margin: auto;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 0px 0px 5px 5px;
        background-color: white;
        text-align: center;
}
}

            /*admapprovedatachange.html*/

.admapprovedatachangebox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 8%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.admapprovedatachangebox1 > h3 {
    text-align: center;}


.admapprovedatachangebox1 > h4 {
    text-align: center;}

.admapprovedatachangebox1 > div > h4 {
    text-align: center;}

.admapprovedatachangebox1 > p {
    margin-top: 5%;
}


.admapprovedatachangeleft{
    float:left;
    width: 50%;

}

.admapprovedatachangeright{
    float:right;
    width: 50%;
}
            
.admapprovedatachangebutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
      text-decoration: none;
    color:#000;
  font-size:120%;}

.admapprovedatachangebutton1:hover{
    background-color: lawngreen;
}

.admapprovedatachangebutton2{
    text-decoration: none;
    color:#000;
    font-size:120%;
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
    margin:25px;

}

.admapprovedatachangebutton2:hover{
    background-color:indianred;
}

.admapprovedatachangecenter{
    margin:auto;
  width:fit-content;
}

            /*responsividade admapprovedatachange.html*/

 @media screen and (max-width: 750px) {
    .admapprovedatachangebox1{
      margin: auto;
      width: 70%;
      background-color: #d6d6d6;
      Margin-top: 20%;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
      border-radius: 5px;
  }
  }
  

            /*admapprovedeleteaccount.html*/

.admapprovedeleteaccountbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 10%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}
    
.admapprovedeleteaccountbox1 > h3 {
        text-align: center;}
    
    
.admapprovedeleteaccountbox1 > h4 {
        text-align: center;}
    
.admapprovedeleteaccountbox1 > div > h4 {
        text-align: center;}
    
.admapprovedeleteaccountbox1 > p {
        margin-top: 5%;
}
    
    
.admapprovedeleteaccountleft{
        float:left;
        width: 50%;
    
}
    
.admapprovedeleteaccountright{
        float:right;
        width: 50%;
}
    
.admapprovedeleteaccountbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
    margin-bottom : 20%
}

.admapprovedeleteaccountbutton1 > a {
    color:#000;
    text-decoration:none;
    font-size:110%;
}

.admapprovedeleteaccountbutton1:hover{
    background-color:lawngreen;
  }
    
    
.admapprovedeleteaccountbutton2{
    cursor:pointer;
    padding: 11px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
    margin-bottom : 20%
}

.admapprovedeleteaccountbutton2 > a {
    color:#000;
    text-decoration:none;
    font-size:110%;
  }



.admapprovedeleteaccountbutton2:hover{
     background-color:indianred;
  }

.admapprovedeleteaccountbutton3{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
    }

  .admapprovedeleteaccountbutton3:hover{
        background-color:yellow;
  }
    
    .admapprovedeleteaccountcenter{
        margin:auto;
        width:fit-content;
    }
            /*responsividade admapprovedeleteaccount.html*/

@media screen and (max-width: 750px) {
    .admapprovedeleteaccountbox1{
        margin: auto;
        width: 70%;
        background-color: #d6d6d6;
        Margin-top: 20%;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 5px;
}
}
    

    /*admdepositconfirm.html*/ 

/*centralizar*/
.admdepositconfirmcenter1{
    margin: auto;
    width:50%;
}

.admdepositconfirmcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.admdepositconfirmbox1{
background-color: #d6d6d6;
Margin-top: 20%;
padding: 15px;
margin-bottom: 2%;
box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
border-radius: 5px 5px 0px 0px;
}

.admdepositconfirmbox1 > h2{    
    text-align: center;
}


.admdepositconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 0px 0px 5px 5px;
}

.admdepositconfirmbox2 > h3{
    text-align: center;
    color: #868686;
}

.admdepositconfirmbox2 > form{

    margin: auto;
    text-align: center;
}

.admdepositconfirmbox2 > form > input{
    margin-top: 30px;
    width: 50%;
    height: 60px;
    text-align: center;
    font-size: 170%;
}

.admdepositconfirmbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    margin-top:8%;
}

.admdepositconfirmbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admdepositconfirmbutton1:hover{
    background-color:indianred;
}


.admdepositconfirmbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admdepositconfirmbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admdepositconfirmbutton2:hover{
    background-color:lawngreen;
}
/*responsividade admdepositconfirm.html*/

@media screen and (max-width: 750px) {
.admdepositconfirmbox1{
    background-color: #d6d6d6;
    Margin-top: 35%;
    padding: 15px;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px 5px 0px 0px;
    }

.admdepositconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 0px 0px 5px 5px;
}
}

                        /*admusers.html*/


.admusersbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 5%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px 5px 0px 0px ;

}
.admusersbox1 >h2{
text-align:center;
}
.admusersbox1 >p{
text-align:center;
margin-top: 1%;
}

.admuserstable{
        margin: auto;
        width: 70%;
        background-color: white;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 0px 0px 5px 5px;
    }
    
.admuserstable > table, tr  th {
        background-color:#d6d6d6;
    }
.admuserstable > table, tr  td a {
        color:black;
        text-decoration:none;
        display:block;
        background-color:#fff;
    
        
    }

.admuserstable > table, tr  td a:hover{
     background-color: lightgray; 
    }

.admuserstable > table, td {
           border: 1px solid black;
           border-collapse: collapse;
         }
.admusersbutton{
            margin-right: 20px;
        
        }
.admusersbutton > form{
            margin-left:15.2%;
            margin-top:5%;
        }
        
.admusersbutton > form >button{
            cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}


    /*RESPONSIVIDADE ADMUSERS.HTML*/

    @media screen and (max-width: 750px) {

        .admusersbutton > form {
        Margin-top: 15%;
        margin-left:15%;
        }

      .admusersbox1{
        width:70%;
      }
      .admuserstable{
        width:70%;
      }
    }
    
          /*admusersdetail.html*/

.admusersdetailbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 1%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
    }

.admusersdetailbox1 > form > h3 {
text-align: center;}

.admusersdetailbox1 >form > h4 {
text-align: center;}

.admusersdetailbox1 > form > div > h4 {
text-align: center;}

.admusersdetailbox1 > form > p {
margin-top: 5%;
}

.admusersdetailbox1 > form > div > select{
  border-radius: 5px;
  border-style:none;
  padding:5px;
  width:35%; 
}

.admusersdetailbox1 > form > div >{
  text-align:center;
}

.admusersdetailbox1 > form > div > input{
  border-radius: 5px;
    border-style:none;
  padding:5px;
  width:100%;
  
}

.admusersdetailleft > select{
  border-radius: 5px;
  border-style:none;
  padding:5px;
  width:100%;
}


.admusersdetailleft{
float:left;
width: 45%;

}

.admusersdetailright{
float:right;
width: 45%;}

.admusersdetailright > input{
  border-radius: 5px;
  width: 100%;
  border-style:none;
  padding:5px
}
    

.admusersdetailbutton1{
  text-align:center;
}

.admusersdetailbutton1 > button{
  cursor: pointer;
  border-style:none;
  padding:14px;
}

.admusersdetailbutton1 >button:hover{
background-color:lawngreen;
}

.admusersdetailbutton2{
  text-align:center;
  margin-top:2%;
}

.admusersdetailbutton2 > button{
  cursor: pointer;
  border-style:none;
  padding:15px;
}

.admusersdetailbutton2 >button:hover{
background-color:indianred;
}

.admusersdetailcenter{
margin:auto;
width:fit-content;}

.flashes{
  text-align:center;
  list-style:none;
}

            /*RESPONSIVIDADE ADMUSERSDETAIL.HTML*/

@media screen and (max-width: 750px) {
    .admusersdetailbox1{
    margin: auto;
    width: 75%;
    background-color: #d6d6d6;
    Margin-top: 16%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}
}


              /*admprofile.html*/
             
 .admprofilebox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 10%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}
            
.admprofilebox1 > form > h3 {
    text-align: center;}
            
            
.admprofilebox1 >form > h4 {
    text-align: center;}
            
.admprofilebox1 > form > div > h4 {
    text-align: center;}
            
.admprofilebox1 > form > p {
    margin-top: 5%;
            }

.admprofilebox1 > form > div > select{
    border-radius: 5px;
    border-style:none;
    padding:5px;
    width:35%;
              
            }
            
.admprofilebox1 > form > div >{
    text-align:center;
    }
            
.admprofilebox1 > form > div > input{
    border-radius: 5px;
    border-style:none;
    padding:5px;
    width:100%;
              
            }
            
.admprofileleft > select{
    border-radius: 5px;
    border-style:none;
    padding:5px;
    width:100%;
}
            
.admprofileleft{
    float:left;
    width: 45%;
 }
            
    .admprofileright{
    float:right;
    width: 45%;
}
            
    .admprofileright > input{
    border-radius: 5px;
    width: 100%;
    border-style:none;
    padding:5px
}
                
    .admprofilebutton1{
    text-align:center;
    margin-top:2%;
}
    .admprofilebutton1 > button{
    cursor: pointer;
    border-style:none;
    padding:14px;
}
            
    .admprofilebutton1 >button:hover{
    background-color:lawngreen;
}
            
    .admprofilebutton2{
    text-align:center;
    margin-top:2%;
}
            
    .admprofilebutton2 > button{
    cursor: pointer;
    border-style:none;
    padding:15px;
}
            
    .admprofilebutton2 >button:hover{
    background-color:indianred;
}
            
    .admprofilecenter{
    margin:auto;
    width:fit-content;}
            
    /*RESPONSIVIDADE admprofile.HTML*/
            
@media screen and (max-width: 750px) {
    .admprofilebox1{
        margin: auto;
        width: 70%;
        background-color: #d6d6d6;
        margin-top: 20%;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}
}
            
            

 /*admextrato.html*/


 .admextratobox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 5%;
    padding: 10px;
    border-radius:5px 5px 0px 0px ;
}

.admextratobox1 >h2{
text-align:center;
}

.admextratobox1 >p{
text-align:center;
margin-top: 1.5%;
}

.admextratotable{
        margin: auto;
        width: 70%;
        background-color: white;
        border-radius: 0px 0px 5px 5px;
        text-align: center;
    }
    
.admextratotable > table, tr  th {
        background-color:#d6d6d6;
    }

.admextratotable > table, tr  td a {
        color:black;
        text-decoration:none;
        display:block;
        background-color:#fff;
    }

.admextratotable > table, td {
           border: 1px solid black;
           border-collapse: collapse;
         }
.admextratobutton1 {
            margin-left:15.2%;
            margin-top:5%;
    display:inline-block;
        }
        
.admextratobutton1 > button{
            cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}


.admextratobutton2 {
  margin-top:10%;
  display:inline-block;
        }
        
.admextratobutton2 > button{
        cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}

            /*Responsividade admextrato.html*/

@media screen and (max-width: 750px) {
    .admextratobox1{
      margin: auto;
      width: 70%;
      background-color: #d6d6d6;
      Margin-top: 10%;
      padding: 10px;
      border-radius:5px 5px 0px 0px ;
  }
    .admextratobutton2 {
    margin-top:20%;
    display:inline-block;
  }
  }
                    /*admcreatemanager.html*/
             
 .admcmanagerbox1{
    margin: auto;
    width: 60%;
    background-color: #d6d6d6;
    Margin-top: 6%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}
.admcmanagerbox1 >form > h4 {
    text-align: center;}
            
.admcmanagerbox1 > form > div > h4 {
    text-align: center;}
  
.admcmanagerbox1 > form {
    margin-top: 5%;
    width:100%;
}
  
.admcmanagerbox1 > form > div > select{
    border-radius: 5px;
    border-style:none;
    padding:5px;
}
.admcmanagerbox1 > form > div >{
    text-align:center;
} 

.admcmanagerbox1 > form > input{
    border-radius: 5px;
    border-style:none;
    padding:5px;
    width:100%;
}
  
.admmanagerleft > select{
    border-radius: 5px;
    border-style:none;
    padding:5px;
    width:100%;
}
  
.admmanagerleft{
    float:left;
    width: 45%;
 }
            
.admmanagerright{
    float:right;
    width: 45%;
}
            
.admmanagerright > input{
    border-radius: 5px;
    width: 100%;
    border-style:none;
    padding:5px;
}
                
.admmanagerbutton1{
    text-align:center;
    margin-top:2%;
}

.admmanagerbutton1 > button{
    cursor: pointer;
    border-style:none;
    padding:14px;
}
            
    .admmanagerbutton1 >button:hover{
    background-color:lawngreen;
}
            
    .admmanagerbutton2{
    text-align:center;
    margin-top:2%;
}
            
    .admmanagerbutton2 > button{
    cursor: pointer;
    border-style:none;
    padding:13px;
    width:130px;  
}
            
  .admmanagerbutton2 >button:hover{
  background-color:indianred;
}
            
    /*RESPONSIVIDADE admcreatemanager.HTML*/
            
@media screen and (max-width: 750px) {
    .admcmanagerbox1{
        margin: auto;
        width: 70%;
        background-color: #d6d6d6;
        margin-top: 12%;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 5px;
}
}
    /**//**/
