*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.justify{
    float: right;
    width: 85%;
  height:100%;
}

@media screen and (max-width: 750px) { 
    .justify{
        float: none;
        width: 100%;
    }

}
.templatedatetime{
margin: auto;
color: #000;
  padding:15px;
  position:fixed;
  bottom:0;
  right:0;
}

/*Formatação do gerente*/

.admbody{
    background-color: #6b8064;
    font-family: 'Montserrat';
}

    /*Barra de navegação HORIZONTAL do gerente (login)*/

    .hadmnav{
      padding: 0;
      background-color: #678a5c;
      position: fixed;
      top: 0;
      width: 100%; 
      height: 7%;
    }
    .hadmnav >  ul {
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
       }
    
    .hadmnav > ul > li > a > i{
        padding: 7%;
       }
    
    .hadmnav > ul > li > a{
        color: #0d3b1b;
        text-decoration: none; 
        padding: 5px;
        float:right;
        margin-right:5%;
        transition: background .4s;}
    
    .hadmnav > ul > li > a:hover{
        background-color: #f5f5f5;
        transition: background .4s;}


    /*Barra de navegação lateral do gerente (verde)*/
.admnav{
    padding: 0;
    background-color: #23371e;
    position: fixed;
    top: 0;
    width: 15%; 
    height: 100%;
    float: left;
}
.admnav >  ul {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
   }
   

.admnav > ul > li > a > i{
    padding: 5px;
   }

.admnav > ul > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 13px;
    transition: background .4s;
    }

.admnav > ul > li > a:hover{
    background-color: #f5f5f5;
    color: #40573a;
    transition: background .4s;}
    

.admnavdiv{
        background-color: #d6d6d6;
        position:absolute;
        bottom:0;
    position:fixed;
        width: 15%;
    }
.admnavdiv > a {
    display: block;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; 
    padding: 10px;
    transition: background .4s;
}


 .admnavdiv > a > i{
        padding: 5px;
    }

.admnavdiv > a:hover{
     background-color: #f5f5f5;
    transition: background .4s;}



    /*RESPONSIVIDADE MENU LATERAL*/

@media screen and (max-width: 750px) {

    .admnav{ padding: 0;
            background-color: #678a5c;
            position: fixed;
            top: 0;
            width: 90%; 
            min-height: 50px;
            height: 7%;
    }

    .admnav >  ul {
        text-transform: uppercase;
        position: absolute;
        width: 100%;
       }
  
    .admnav >  ul >li {
        display:inline-block;
        font-size:100%;
       }
    
    .admnav > ul > li > a > i{
        display:none;
       }
    
    .admnav > ul > li > a{
        color: #0d3b1b;
        text-decoration: none; 
              height:100%;
        transition: background .4s;}
    
    .admnav > ul > li > a:hover{
        background-color: #f5f5f5;
        transition: background .4s;}
        
    
    .admnavdiv{
      min-height: 50px;
      height: 7%;
      width:10%;
      position:fixed;
      top:0;
      margin-left:90%;
        }
    .admnavdiv > a {
        text-transform: uppercase;
        color: #000;
        text-decoration: none; 
        padding: 5px;
        transition: background .4s;
        height:100%;}

  
    
    .admnavdiv > a:hover{
         background-color: #f5f5f5;
        transition: background .4s;}
    
}
    /**/

    /*LoginGerente.html*/

    /*caixa cinza claro*/
.admloginbox1{
    margin: auto;
    width: 25%;
    background-color: #d6d6d6;
Margin-top: 10%;
padding: 40px;
}

.admloginbox1 > form {
    text-align:center;
}

.admloginbox1 > form > input{
    margin:auto;
    width:100%;
    border-style:none;
    text-align:center;
    padding:15px;
    
}

.admloginbutton1 > button {
    background-color:#ffff;
    border-style:none;
    padding:15px;
    cursor:pointer;
}


.admloginbutton1 > button:hover{
            background-color:#678a5c87;
}


.admloginbutton2{
    text-align:center;
    margin-top:5%;
}
.admloginbutton2 > form > button{
        background-color:#ffff;
    border-style:none;
    padding:15px;
    cursor:pointer;
}

.admloginbutton2 > form > button:hover{
            background-color:#678a5c87;
}

      /*RESPONSIVIDADE DA TELA ADMLOGIN.HTML*/

@media screen and (max-width: 750px) { 
    .admloginbox1{
      margin: auto;
      width: 75%;
      background-color: #d6d6d6;
      Margin-top: 10%;
      padding: 40px;
}

}

      /*admhome.html*/

/*caixa cinza claro*/
.admhomebox1{
    margin: auto;
    width: 25%;
    background-color: #ffff;
Margin-top: 15%;
padding: 10px;
}

.admhomebox1 > h3{
    text-align: center;
}

/*muda todos p dentro da classe homebox1 */
.admhomebox1 > p{ 
    margin-top: 5%;
}

/*caixa que contém o número do saldo*/
.admhomebox2{
    width: 100%;
    height: 90px;
    background-color: #d6d6d6;
    Margin-top: 5%;
    padding: 10px;

}

/*tamanho número do saldo*/
.admhomebox2 > h2{ 
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


    /*RESPONSIVIDADE ADMHOME.HTML*/

    @media screen and (max-width: 750px) {

        .admhomebox1{
            margin: auto;
            width: 75%;
            background-color: #ffff;
        Margin-top: 15%;
        padding: 10px;
        }


    }

/*admsolicitations.html*/

.admsolicitationsbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
Margin-top: 1%;
padding: 10px;
}
.admsolicitationsbox1 >h2{
text-align:center;
}
.admsolicitationsbox1 >p{
text-align:center;
margin-top: 1%;
}

.admsolicitationstable{
        margin: auto;
        width: 70%;
        background-color: white;
        text-align: center;
    }
    
.admsolicitationstable > table, tr  th {
        background-color:#d6d6d6;
    }
        .admsolicitationstable > table, tr  td a {
        color:black;
        text-decoration:none;
        display:block;
        height:40px
    
        
    }

.admsolicitationstable > table, tr  td a:hover{
        background-color:#749e81;
    }

.admsolicitationstable > table, td {
           border: 1px solid black;
           border-collapse: collapse;
         }
.admsolicitationsbutton{
            margin-right: 20px;
        
        }
.admsolicitationsbutton > form{
            margin-left:15.2%;
            margin-top:5%;
        }
        
.admsolicitationsbutton > form >button{
            cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}


    /*RESPONSIVIDADE MENU LATERAL*/

    @media screen and (max-width: 750px) {
        .admsolicitationsbutton > form >button{
            cursor:pointer;
        padding: 10px;
        border: none;
          margin-top:10%;
         background-color:#d6d6d6}
      
      .admsolicitationsbox1{
    margin: auto;
        margin-top:1%;
    width: 100%;
}

      .admsolicitationsbutton > form{
            margin-left:0px;
            margin-top:5%;
        }
              
.admsolicitationsbutton > form >button{
            cursor:pointer;
        padding: 15px;
        border: none;
         background-color:#d6d6d6}

      
    }




            /*admapprovedatachange.html*/

.admapprovedatachangebox1{
            margin: auto;
            width: 70%;
            background-color: #d6d6d6;
            Margin-top: 1%;
            padding: 10px;
            }

.admapprovedatachangebox1 > h3 {
    text-align: center;}


.admapprovedatachangebox1 > h4 {
    text-align: center;}

.admapprovedatachangebox1 > div > h4 {
    text-align: center;}

.admapprovedatachangebox1 > p {
    margin-top: 5%;
}


.admapprovedatachangeleft{
    float:left;
    width: 50%;

}

.admapprovedatachangeright{
    float:right;
    width: 50%;
}
            
.admapprovedatachangebutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
      text-decoration: none;
    color:#000;
  font-size:120%;}

.admapprovedatachangebutton1:hover{
    background-color: lawngreen;
}

.admapprovedatachangebutton2{
    text-decoration: none;
    color:#000;
  font-size:120%;
      cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;

}

.admapprovedatachangebutton2:hover{
    background-color:indianred;
}

.admapprovedatachangecenter{
    margin:auto;
  width:fit-content;
}

            /*admapprovedeleteaccount.html*/

.admapprovedeleteaccountbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 1%;
    padding: 10px;
}
    
.admapprovedeleteaccountbox1 > h3 {
        text-align: center;}
    
    
.admapprovedeleteaccountbox1 > h4 {
        text-align: center;}
    
.admapprovedeleteaccountbox1 > div > h4 {
        text-align: center;}
    
.admapprovedeleteaccountbox1 > p {
        margin-top: 5%;
}
    
    
.admapprovedeleteaccountleft{
        float:left;
        width: 50%;
    
}
    
.admapprovedeleteaccountright{
        float:right;
        width: 50%;
}
    
.admapprovedeleteaccountbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
}

.admapprovedeleteaccountbutton1 > a {
    color:#000;
    text-decoration:none;
    font-size:110%;
}

.admapprovedeleteaccountbutton1:hover{
    background-color:lawngreen;
  }
    
    
.admapprovedeleteaccountbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
}

.admapprovedeleteaccountbutton2 > a {
    color:#000;
    text-decoration:none;
    font-size:110%;
  }



.admapprovedeleteaccountbutton2:hover{
     background-color:indianred;
  }

.admapprovedeleteaccountbutton3{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#ffff;
    cursor: pointer;
    }

  .admapprovedeleteaccountbutton3:hover{
        background-color:yellow;
  }
    
    .admapprovedeleteaccountcenter{
        margin:auto;
        width:fit-content;
    }


    /*admwithdraw.html*/ 

/*centralizar*/
.admwithdraw{
    margin: auto;
    width:50%;
}

.admwithdraw{
    margin: auto;
    width:fit-content;
}



/*caixa cinza claro*/
.admwithdrawbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
}

.admwithdrawbox1 > h2{    
    text-align: center;
}


.admwithdrawbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
}

.admwithdrawbox2 > h3{
    text-align: center;
    color: #868686;
}

.admwithdrawbox2 > form{

    margin: auto;
    text-align: center;
}

.admwithdrawbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.admwithdrawbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admwithdrawbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admwithdrawbutton1:hover{
    background-color:lawngreen;
}


.admwithdrawbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admwithdrawbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admwithdrawbutton2:hover{
    background-color:indianred;
}
    

    /*admdepositconfirm.html*/ 

/*centralizar*/
.admdepositconfirmcenter1{
    margin: auto;
    width:50%;
}

.admdepositconfirmcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.admdepositconfirmbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
}

.admdepositconfirmbox1 > h2{    
    text-align: center;
}


.admdepositconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
}

.admdepositconfirmbox2 > h3{
    text-align: center;
    color: #868686;
}

.admdepositconfirmbox2 > form{

    margin: auto;
    text-align: center;
}

.admdepositconfirmbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.admdepositconfirmbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admdepositconfirmbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admdepositconfirmbutton1:hover{
    background-color:indianred;
}


.admdepositconfirmbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admdepositconfirmbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admdepositconfirmbutton2:hover{
    background-color:lawngreen;
}



    /*admwithdrawconfirm.html*/ 

/*centralizar*/
.admwithdrawconfirmcenter1{
    margin: auto;
    width:50%;
}

.admwithdrawconfirmcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.admwithdrawconfirmbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
}

.admwithdrawconfirmbox1 > h2{    
    text-align: center;
}


.admwithdrawconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
}

.admwithdrawconfirmbox2 > h3{
    text-align: center;
    color: #868686;
}

.admwithdrawconfirmbox2 > form{

    margin: auto;
    text-align: center;
}

.admwithdrawconfirmbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.admwithdrawconfirmbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admwithdrawconfirmbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admwithdrawconfirmbutton1:hover{
    background-color:lawngreen;
}


.admwithdrawconfirmbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admwithdrawconfirmbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admwithdrawconfirmbutton2:hover{
    background-color: lawngreen;
}


    /*admwithdrawvoucher.html*/ 

/*centralizar*/
.admwithdrawvouchercenter1{
    margin: auto;
    width:50%;
}

.admwithdrawvouchercenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.admwithdrawvoucherbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
}

.admwithdrawvoucherbox1 > h2{    
    text-align: center;
}


.admwithdrawvoucherbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
}

.admwithdrawvoucherbox2 > h3{
    text-align: center;
    color: #868686;
}

.admwithdrawvoucherbox2 > form{

    margin: auto;
    text-align: center;
}

.admwithdrawvoucherbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.admwithdrawvoucherbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admwithdrawvoucherbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admwithdrawvoucherbutton1:hover{
    background-color:lawngreen;
}


.admwithdrawvoucherbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.admwithdrawvoucherbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.admwithdrawvoucherbutton2:hover{
    background-color:indianred;
}


  /*admusers.html*/


.admusersbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
Margin-top: 1%;
padding: 10px;
}
.admusersbox1 >h2{
text-align:center;
}
.admusersbox1 >p{
text-align:center;
margin-top: 1%;
}

.admuserstable{
        margin: auto;
        width: 70%;
        background-color: white;
        text-align: center;
    }
    
.admuserstable > table, tr  th {
        background-color:#d6d6d6;
    }
.admuserstable > table, tr  td a {
        color:black;
        text-decoration:none;
        display:block;
        background-color:#fff;
    
        
    }

.admuserstable > table, tr  td a:hover{
        background-color:#0d8331;
    }

.admuserstable > table, td {
           border: 1px solid black;
           border-collapse: collapse;
         }
.admusersbutton{
            margin-right: 20px;
        
        }
.admusersbutton > form{
            margin-left:15.2%;
            margin-top:5%;
        }
        
.admusersbutton > form >button{
            cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}


    
          /*admusersdetail.html*/

.admusersdetailbox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
    Margin-top: 1%;
    padding: 10px;
    }

.admusersdetailbox1 > form > h3 {
text-align: center;}


.admusersdetailbox1 >form > h4 {
text-align: center;}

.admusersdetailbox1 > form > div > h4 {
text-align: center;}

.admusersdetailbox1 > form > p {
margin-top: 5%;
}

.admusersdetailbox1 > form > div > select{
  border-style:none;
  padding:5px;
  width:35%;
  
}

.admusersdetailbox1 > form > div >{
  text-align:center;
}

.admusersdetailbox1 > form > div > input{
    border-style:none;
  padding:5px;
  width:100%;
  
}

.admusersdetailleft > select{
  border-style:none;
  padding:5px;
  width:100%;
  

}


.admusersdetailleft{
float:left;
width: 45%;

}

.admusersdetailright{
float:right;
width: 45%;}

.admusersdetailright > input{
  width: 100%;
  border-style:none;
  padding:5px
}
    

.admusersdetailbutton1{
  text-align:center;
}

.admusersdetailbutton1 > button{
  cursor: pointer;
  border-style:none;
  padding:14px;
}

.admusersdetailbutton1 >button:hover{
background-color:lawngreen;
}

.admusersdetailbutton2{
  text-align:center;
  margin-top:2%;
}

.admusersdetailbutton2 > button{
  cursor: pointer;
  border-style:none;
  padding:15px;
}

.admusersdetailbutton2 >button:hover{
background-color:indianred;
}

.admusersdetailcenter{
margin:auto;
width:fit-content;}


    /*RESPONSIVIDADE ADMUSERSDETAIL.HTML*/

    @media screen and (max-width: 750px) {

        .admusersdetailbox1{
            margin: auto;
            width: 75%;
        Margin-top: 15%;
        }


    }


              /*admprofile.html*/

              .admprofilebox1{
                margin: auto;
                width: 70%;
                background-color: #d6d6d6;
                Margin-top: 1%;
                padding: 10px;
                }
            
            .admprofilebox1 > form > h3 {
            text-align: center;}
            
            
            .admprofilebox1 >form > h4 {
            text-align: center;}
            
            .admprofilebox1 > form > div > h4 {
            text-align: center;}
            
            .admprofilebox1 > form > p {
            margin-top: 5%;
            }
            
            .admprofilebox1 > form > div > select{
              border-style:none;
              padding:5px;
              width:35%;
              
            }
            
            .admprofilebox1 > form > div >{
              text-align:center;
            }
            
            .admprofilebox1 > form > div > input{
                border-style:none;
              padding:5px;
              width:100%;
              
            }
            
            .admprofileleft > select{
              border-style:none;
              padding:5px;
              width:100%;
              
            
            }
            
            
            .admprofileleft{
            float:left;
            width: 45%;
            }
            
            .admprofileright{
            float:right;
            width: 45%;
            }
            
            .admprofileright > input{
              width: 100%;
              border-style:none;
              padding:5px
            }
                
            
            .admprofilebutton1{
              text-align:center;
               margin-top:2%;
            }
            
            .admprofilebutton1 > button{
              cursor: pointer;
              border-style:none;
              padding:14px;
            }
            
            .admprofilebutton1 >button:hover{
            background-color:lawngreen;
            }
            
            .admprofilebutton2{
              text-align:center;
              margin-top:2%;
            }
            
            .admprofilebutton2 > button{
              cursor: pointer;
              border-style:none;
              padding:15px;
            }
            
            .admprofilebutton2 >button:hover{
            background-color:indianred;
            }
            
            .admprofilecenter{
            margin:auto;
            width:fit-content;}
            
            
                /*RESPONSIVIDADE admprofile.HTML*/
            
                @media screen and (max-width: 750px) {
            
                    .admprofilebox1{
                        margin: auto;
                        width: 75%;
                    Margin-top: 15%;
                    }
            
            
                }
            
            

 /*admextrato.html*/


 .admextratobox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
Margin-top: 1%;
padding: 10px;
}

.admextratobox1 >h2{
text-align:center;
}

.admextratobox1 >p{
text-align:center;
margin-top: 1%;
}

.admextratotable{
        margin: auto;
        width: 70%;
        background-color: white;
        text-align: center;
    }
    
.admextratotable > table, tr  th {
        background-color:#d6d6d6;
    }

.admextratotable > table, tr  td a {
        color:black;
        text-decoration:none;
        display:block;
        background-color:#fff;
    }

.admextratotable > table, tr  td a:hover{
        background-color:#0d8331;
    }

.admextratotable > table, td {
           border: 1px solid black;
           border-collapse: collapse;
         }
.admextratobutton1 {
            margin-left:15.2%;
            margin-top:5%;
    display:inline-block;
        }
        
.admextratobutton1 > button{
            cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}


.admextratobutton2 {
  margin-top:5%;
  display:inline-block;
        }
        
.admextratobutton2 > button{
            cursor:pointer;
        padding: 10px;
        border: none;
         background-color:#d6d6d6}
         
    /**//**/