*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.justify{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.justify > p {
    text-align: center;
}

.justify > form > button {
    background-color: #212121;
    border-color: rgb(80, 80, 100);
    padding: 0.5%;
    width: 10%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 100%;
    cursor:pointer;
}
img{
margin-left: 65%;
width: 15%;
height: 8%;
}


/*cria uma caixa ocupando 50% da tela para colocar as informações do cliente*/
.box1{
    color: rgb(0, 0, 0);
    position: relative;
    margin: 0 auto;
    height: fit-content;
    text-align: center;
    padding: 20px;
    border-style:double;
}

.box1 > h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
}

.box1 > p{
text-align: center;

}
/*botão de voltar*/
.userdepositreceiptbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#868686;
    cursor: pointer;
}

.userdepositreceiptbutton1 >a {
  color:#999999;
  text-decoration:none;
  font-size:110%;
}

.userdepositreceiptbutton1:hover{
    background-color:#959595;
}