/*Formatação Padrão (usuário):*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.justify{
    float: right;
    width: 85%;
    height: 100%;

}

@media screen and (max-width: 750px) { 
    .justify{
        float: none;
        width: 100%;
    }

    .templatedatetime{
        position:fixed;
        top:15px;
        right:16%;
    }
}

.templatedatetime{
    margin: auto;
    color: #fff;
    padding-left:15px;
    background-color: #062e46;
    }

/*Formatação do Usuário*/
.userbody{
    background-color: #7c9faf;
    font-family: 'Montserrat', sans-serif;
}

/*Barra de navegação HORIZONTAL do usuário (login)*/
.img4{
    height:100%;
    margin-left:45%;
    margin-right:45%;
}

.husernav{
    padding: 0;
    background-color: #062e46;
    position: fixed;
    top: 0;
    width: 100%; 
    height: 7%;
}

.husernav >  ul {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.husernav > ul > li > a > i{
    padding: 7%;
}

.husernav > ul > li > a{
    color: #ffffff;
    text-decoration: none; 
    padding: 5px;
    float:right;
    margin-right:5%;
    transition: background .4s;
}

.husernav > ul > li > a:hover{
    background-color: #7c9faf;
    transition: background .4s;
}

    /*Barra de navegação lateral do usuário*/

.img3{
      width:35%;
     margin-top:10%;
     margin-left:32.5%;
     margin-right:32.5%}

    .usernavitem > label{
        display:none;
        padding:15px;
        cursor:pointer;
      }
      .usernavitem > input {
        display:none;
      }      

    .usernav{
        padding: 0;
        background-color: #062e46;
        position: fixed;
        top: 0;
        width: 15%;
        min-width:140px; 
        height: 100%;
        float: left;
    }

    .usernav > div > ul {
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .usernav > div > ul > li > a > i{
        padding: 5px;
    }
    
    .usernav > div > ul > li > a{
        color: #ffff;
        text-decoration: none; 
        display: block;
        padding: 13px;
        transition: background .4s;
    }
    
    .usernav > div > ul > li > a:hover{
        background-color: #f5f5f5;
        color: #062e46;
        transition: background .4s;
    }
        
    .usernavdiv{
            background-color: #d6d6d6;
            position: absolute;
            bottom:0;
            position:fixed;
            width: 15%;
            min-width:140px;
    }
    
    .usernavdiv > a {
        display: block;
        text-transform: uppercase;
        color: #062e46;
        text-decoration: none; 
        padding: 10px;
        transition: background .4s;
    }
    
     .usernavdiv > a > i{
            padding: 5px;
    }
    
    .usernavdiv > a:hover{
        background-color: #f5f5f5;
        transition: background .4s;
    }
    
    /*RESPONSIVIDADE MENU LATERAL*/
    
   /*RESPONSIVIDADE MENU LATERAL*/

@media screen and (max-width: 750px) {
.img4{
    height:100%;
    margin-left:10%;
}
    
.img3{
    position:absolute;
    margin-top:0px;
      width:10%;
     margin-left:45%;
     margin-right:45%}
    
    .usernavitem > label{
  display:block;
  padding:15px;
  cursor:pointer;
  color:#fff;
}

    .usernavitem > input {
  display:none;
}
  
  .usernavitem > input:checked ~ ul{
    height:auto;
    transform:all;
  }
    
    .usernav{ padding: 0;
        background-color: #062e46;
        position: fixed;
        top: 0;
        width: 86%; 
        height: 50px;
    }

    .usernav > div >  ul {
        overflow:hidden;
      width: 100%;
      margin-top:50px;
      top:0;
      transform: none;
      height:0;
        z-index:100%;
        background-color: #062e46;
    
    }
  
    .usernav  > div >  ul >li {
        display:inline;
        font-size:100%;
    }
    
    .usernav  > div > ul > li > a > i{
        display:none;
    }
    
    
    .usernav  > div > ul > li > a:hover{
        background-color: #f5f5f5;
        transition: background .4s;
    }
        
    .usernavdiv{
        height:50px;
        width:14%;
        top:0;
        margin-left:86%;
    }
    
    .usernavdiv > a {
        text-transform: uppercase;
        color: #000;
        text-decoration: none; 
        padding: 5px;
        transition: background .4s;
        height:100%;
    }

    .usernav > div > a:hover{
        background-color: #f5f5f5;
        transition: background .4s;
    }
}
    
/**/

/*login.html*/
.userbodylogin{
    background-color: #7c9faf;
    font-family: 'Montserrat', sans-serif;
}

.img1{
    margin-top:7%;
    position:absolute;
    z-index:-1;
}

    /*caixa cinza claro*/
    .userloginbox{
        background-color: #ffffff;
        Margin-top: 15%;
        padding: 15px;
        margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 5px;
        z-index:100;
    }

        /*Centralizar*/
        .userlogincenter{
            margin: auto;
            width:30%;
        }
        
    
    .userloginbox > h2{    
        text-align: center;
    }
    
    .userloginbox1{
        margin: auto;
        width: 100%;
        background-color: #d6d6d6;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 5px;
        Margin-top: 10%;
        padding: 40px;
    }

    .userloginbox1 > h2{
        text-align: center;
    }
    .userloginbox1 > form {
        text-align:center;
    }
    
    .userloginbox1 > form > input{
        margin:auto;
        width:100%;
        border-style:none;
        border-radius: 5px;
        text-align:center;
        padding:15px;
    }
    
    .userloginbutton1 > button {
        background-color:#ffff;
        border-style:none;
        padding:15px;
        cursor:pointer;
        border-radius: 5px;
    }
    
    .userloginbutton1 > button:hover{
                background-color:#7c9faf;
        
    }
    
    .userloginbutton2{
        text-align:center;
        margin-top:5%;
    }

    .userloginbutton2 > form > button{
        background-color:#ffff;
        border-style:none;
        padding:15px;
        cursor:pointer;
        border-radius: 5px;
    }
    
    .userloginbutton2 > form > button:hover{
                background-color:#7c9faf;
        
    }
    
          /*RESPONSIVIDADE DA TELA LOGIN.HTML*/
    
    @media screen and (max-width: 750px) { 
        .userloginbox1{
          margin: auto;
          width: 100%;
          background-color: #d6d6d6;
          Margin-top: 10%;
          padding: 40px;
    }

        .userlogincenter{
            width:60%;
        }

        .img1{
            display:none;
        }
    
    }

    /*Tela da Cadastro*/
    .userbodyregistration{
        background-color: #7c9faf;
    
        font-family: 'Montserrat', sans-serif;
    }
    
    /*Centralizar*/
    .userregistrationcenter{
        margin: auto;
        width:30%;
    }

.img2{
    margin-top:10%;
    position:fixed;
    z-index:-1;
    width:40%;
}
    
    /*caixa cinza claro*/
    .userregistrationbox1{
        background-color: #ffffff;
        Margin-top: 15%;
        width: 100%;
        padding: 15px;
        margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 5px;
    }
    
    .userregistrationbox1 > h2{    
        text-align: center;
    }
    
    /*Formulário*/
    .userregistrationbox2{
        margin: auto;
        background-color: #d6d6d6;
        padding: 40px;
        width: 100%;
        height: fit-content;
        margin-bottom: 15%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 5px;
        Margin-top: 10%;
    }
    
    .userregistrationbox2 > h3{
        text-align: center;
        color: #000;
    }
    
    .userregistrationbox2 > p {
        text-align: center;
    }

    .userregistrationbox2 > form{
    
        margin: auto;
        text-align: center;
    }
    
    .userregistrationbox2 > form > input{
        margin:auto;
        width:100%;
        border-style:none;
        border-radius: 5px;
        text-align:center;
        padding:15px;    
    }
    .userregistrationbox2 > form > div > select{
        border-style:none;
        padding:5px;
        width:35%;
        border-radius: 5px;
        background-color: #fff;
    }
    .userregistrationbox2 > form > div > input{
        border-style: none;
    }

    .birthdate > p > input {
        border-style:none;
        padding:5px;
        width:35%;
        border-radius: 5px;
        background-color: #fff;
    }


    /*Botões*/
    .userregistrationbutton5 > button {
        background-color:#ffff;
        border-style:none;
        border-radius: 5px;
        padding:15px;
        cursor:pointer;
    }
    .userregistrationbutton5 > button:hover{
        background-color:#7c9faf;
    }
    
    /*CasdastroBotão2*/
    .userregistrationbutton2{
        text-align:center;
        margin-top:5%;
    }
    
    .userregistrationbutton2 > form > button{
                background-color:#ffff;
                border-style:none;
                padding:15px;
                cursor:pointer;
                border-radius: 5px;
                }   
    
    .userregistrationbutton2 > form > button:hover{
                background-color:#7c9faf;
                }
    
     /*RESPONSIVIDADE DA TELA CADASTRO*/
        
        @media screen and (max-width: 750px) { 
            .userregistrationcenter{
                width:70%;
            }

            .img2{display:none;}
            
            .userregistrationbox1{
                margin: auto;
                width: 100%;
                background-color: #ffffff;
                Margin-top: 10%;
                padding: 40px;
        }
            
        }
    /*Fim Tela de Cadastro*/

    /*acompanhamento.html*/

    .userbodyacompanhamento{
        background-color: #7c9faf;
        font-family: 'Montserrat', sans-serif;
    }
    
        /*Centralizar*/
        .useracompanhamentocenter{
            margin: auto;
            width:30%;
        }
    
        .useracompanhamentobox{
            background-color: #ffffff;
            Margin-top: 15%;
            padding: 15px;
            margin-bottom: 2%;
            box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
            border-radius: 5px;
        }

        .useracompanhamentobox > h2{
            text-align: center; }
    
        /*caixa cinza claro*/
        .useracompanhamentobox1{
            margin: auto;
            width: 100%;
            background-color: #d6d6d6;
        Margin-top: 10%;
        padding: 40px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        }
        .useracompanhamentobox1 > h2{
            text-align: center;
        }
        .useracompanhamentobox1 > form {
            text-align:center;
        }
        
        .useracompanhamentobox1 > form > input{
            margin:auto;
            width:100%;
            border-style:none;
            text-align:center;
            padding:15px;
            border-radius: 5px;
        }
        
        .useracompanhamentobutton1 > button {
            background-color:#ffff;
            border-style:none;
            padding:15px;
            cursor:pointer;
            border-radius: 5px;
        }
        
        
        .useracompanhamentobutton1 > button:hover{
                    background-color:#7c9faf;
            
        }
        
        
        .useracompanhamentobutton2{
            text-align:center;
            margin-top:5%;
        }
        .useracompanhamentobutton2 > form > button{
                background-color:#ffff;
            border-style:none;
            padding:15px;
            cursor:pointer;
            border-radius: 5px;
        }
        
        .useracompanhamentobutton2 > form > button:hover{
                    background-color:#7c9faf;            
        }
        
              /*RESPONSIVIDADE DA TELA ACOMPANHAMENTO.HTML*/
        
        @media screen and (max-width: 750px) { 
            .useracompanhamentobox1{
              margin: auto;
              width: 100%;
              background-color: #d6d6d6;
              Margin-top: 10%;
              padding: 40px;
        }
        
        }
        /*FIM TELA DE ACOMPANHAMENTO*/

/*HOME ACOMPANHAMENTO: homeAcomp.html*/
.userbodyhacompanhamento{
    background-color: #7c9faf;
    font-family: 'Montserrat', sans-serif;
}

    /*caixa cinza claro*/
    .userhacompanhamentobox1{
        margin: auto;
        width: 25%;
        background-color: #d6d6d6;
    Margin-top: 10%;
    padding: 40px;
                box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
        border-radius: 5px;
    }
    .userhacompanhamentobox1 > h2{
        text-align: center;
    }
    .userhacompanhamentobox1 > form {
        text-align:center;
    }
    
    .userhacompanhamentobox1 > form > input{
        margin:auto;
        width:100%;
        border-style:none;
        text-align:center;
        padding:15px;
        
    }
    
    .userhacompanhamentobutton1 > button {
        background-color:#ffff;
        border-style:none;
        padding:15px;
        cursor:pointer;
    }
    
    
    .userhacompanhamentobutton1 > button:hover{
                background-color:#7c9faf;
        
    }
    
    
    .userhacompanhamentobutton2{
        text-align:center;
        margin-top:5%;
    }
    .userhacompanhamentobutton2 > form > button{
            background-color:#ffff;
        border-style:none;
        padding:15px;
        cursor:pointer;
        border-radius: 5px;
    }
    
    .userhacompanhamentobutton2 > form > button:hover{
                background-color:#7c9faf;
        
    }
    
          /*RESPONSIVIDADE DA TELA HOMEACOMP.HTML*/
    
    @media screen and (max-width: 750px) { 
        .userhacompanhamentobox1{
          margin: auto;
          width: 75%;
          background-color: #d6d6d6;
          Margin-top: 10%;
          padding: 40px;
    }
    
    }

/*FIM TELA HOME ACOMPANHAMENTO*/

/*Tela Home Usuário*/
      /*home.html*/
/*caixa cinza claro*/
.userhomebox1{
    margin: auto;
    width: 25%;
    background-color: #ffff;
    Margin-top: 15%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.userhomebox1 > h3{
    text-align: center;
}

/*muda todos p dentro da classe homebox1 */
.userhomebox1 > p{ 
    margin-top: 5%;
}

/*caixa que contém o número do saldo*/
.userhomebox2{
    width: 100%;
    height: 90px;
    background-color: #d6d6d6;
    Margin-top: 5%;
    padding: 10px;
    border-radius: 5px;
    top: 50%;
}

/*tamanho número do saldo*/
.userhomebox2 > h2{ 
    text-align: center;}

    /*RESPONSIVIDADE HOME.HTML*/

@media screen and (max-width: 750px) {

    .userhomebox1{
        margin: auto;
        width: 75%;
        background-color: #ffff;
        Margin-top: 15%;
        padding: 10px;
        }
}
.userhomebox1 > p{ 
    margin-top: 5%;
}

/*caixa que contém o número do saldo*/
.userhomebox2{
    width: 100%;
    height: 90px;
    background-color: #d6d6d6;
    Margin-top: 5%;
    padding: 10px;
    border-radius: 5px;
    top: 50%;
}

/*tamanho número do saldo*/
.userhomebox2 > h2{ 
    text-align: center;
    margin-top: 5% }
/**/

 /*deposito.html*/ 

/*centralizar*/
.userdepositcenter1{
    margin: auto;
    width:50%;
}

.userdepositcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.userdepositbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.userdepositbox1 > h3{    
    text-align: center;
}

.userdepositbox1 > p{    
    text-align: center;
}

.userdepositbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.userdepositbox2 > h3{
    text-align: center;
    color: #000;
}

.userdepositbox2 > form{

    margin: auto;
    text-align: center;
}

.userdepositbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
    border-radius: 5px;
}

.userdepositbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.userdepositbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.userdepositbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.userdepositbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.userdepositbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.userdepositbutton2:hover{
    background-color:rgb(71, 177, 106);
}


    /*deposito_confirmacao.html*/ 

/*centralizar*/
.userdepositconfirmcenter1{
    margin: auto;
    width:50%;
}

.userdepositconfirmcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.userdepositconfirmbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.userdepositconfirmbox1 > h3{    
    text-align: center;
}

.userdepositconfirmbox1 > p{    
    text-align: center;
}

.userdepositconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.userdepositconfirmbox2 > h3{
    text-align: center;
    color: #868686;
}

.userdepositconfirmbox2 > form{

    margin: auto;
    text-align: center;
}

.userdepositconfirmbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
    border-radius: 5px;
}

.userdepositconfirmbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.userdepositconfirmbutton1 > a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.userdepositconfirmbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.userdepositconfirmbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.userdepositconfirmbutton2 > a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.userdepositconfirmbutton2:hover{
    background-color:rgb(71, 177, 106);
}

/*saque.html*/ 

/*centralizar*/
.usersaquecenter1{
    margin: auto;
    width:50%;
}

.usersaquecenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.usersaquebox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
            box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usersaquebox1 > h3{    
    text-align: center;
}

.usersaquebox1 > p{    
    text-align: center;
}

.usersaquebox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
            box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usersaquebox2 > h3{
    text-align: center;
    color: #000000;
}

.usersaquebox2 > form{

    margin: auto;
    text-align: center;
}

.usersaquebox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
    border-radius: 5px;
}

.usersaquebutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usersaquebutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usersaquebutton1:hover{
    background-color:rgb(183, 85, 85);
}


.usersaquebutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usersaquebutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usersaquebutton2:hover{
    background-color:rgb(71, 177, 106);
}

/*saque_confirmacao.html*/ 

/*centralizar*/
.usersaqueconfirmcenter1{
    margin: auto;
    width:50%;
}

.usersaqueconfirmcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.usersaqueconfirmbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
                box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usersaqueconfirmbox1 > h3{    
    text-align: center;
}

.usersaqueconfirmbox1 > p{    
    text-align: center;
}

.usersaqueconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
                box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usersaqueconfirmbox2 > h3{
    text-align: center;
    color: #868686;
}

.usersaqueconfirmbox2 > form{

    margin: auto;
    text-align: center;
}

.usersaqueconfirmbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
    border-radius: 5px;
}

.usersaqueconfirmbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usersaqueconfirmbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usersaqueconfirmbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.usersaqueconfirmbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usersaqueconfirmbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usersaqueconfirmbutton2:hover{
    background-color:rgb(71, 177, 106);
}

    /*utransfer.html*/ 

/*centralizar*/
.usertransfercenter1{
    margin: auto;
    width:50%;
}

.usertransfercenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.usertransferbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usertransferbox1 > h3{    
    text-align: center;
}

.usertransferbox1 > p{    
    text-align: center;
}

.usertransferbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usertransferbox2 > h3{
    text-align: center;
    color: #000;
}
.usertransferbox2 > p{
    text-align: center;
}


.usertransferbox2 > form{

    margin: auto;
    text-align: center;
}

.usertransferbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
    border-radius: 5px;
}

.usertransferbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usertransferbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usertransferbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.usertransferbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usertransferbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usertransferbutton2:hover{
    background-color:rgb(71, 177, 106);
}

    /*utransferconfirm_confirmacao.html*/ 

/*centralizar*/
.usertransferconfirmcenter1{
    margin: auto;
    width:50%;
}

.usertransferconfirmcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.usertransferconfirmbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usertransferconfirmbox1 > h3{    
    text-align: center;
}

.usertransferconfirmbox1 > p{    
    text-align: center;
}

.usertransferconfirmbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.usertransferconfirmbox2 > h3{
    text-align: center;
    color: #868686;
}

.usertransferconfirmbox2 > form{

    margin: auto;
    text-align: center;
}

.usertransferconfirmbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
    border-radius: 5px;
}

.usertransferconfirmbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usertransferconfirmbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usertransferconfirmbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.usertransferconfirmbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.usertransferconfirmbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.usertransferconfirmbutton2:hover{
    background-color:rgb(71, 177, 106);
}

/*extrato.html*/


.userextratobox1{
    margin: auto;
    width: 70%;
    background-color: #d6d6d6;
Margin-top: 1%;
padding: 10px;
     box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.userextratobox1 >h2{
text-align:center;
}

.userextratobox1 >p{
text-align:center;
margin-top: 1%;
}

.userextratotable{
        margin: auto;
        width: 70%;
        background-color: white;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
    }

.userextratotable > table, tr  th {
        background-color:#d6d6d6;
    }

.userextratotable > table, tr  td a {
        color:black;
        text-decoration:none;
        display:block;
        background-color:#fff;
    }

.userextratotable > table, tr  td a:hover{
        background-color:#6fb684;
    }

.userextratotable > table, td {
           border: 1px solid black;
           border-collapse: collapse;
         }
.userextratobutton{
            margin-right: 20px;

        }
.userextratobutton1{
    margin-left:15.2%;
    margin-top:5%;
display:inline-block;
        }

.userextratobutton1 > button{
    cursor:pointer;
padding: 10px;
border: none;
 background-color:#d6d6d6;
    border-radius: 5px;
}


 .userextratobutton2 {
    margin-top:5%;
    display:inline-block;
          }

  .userextratobutton2 > button{
              cursor:pointer;
          padding: 10px;
          border: none;
           background-color:#d6d6d6;
    border-radius: 5px;
  }

/**/

/*alteracadedados.html

/*centralizar*/
.datachangecenter1{
    margin: auto;
    width:70%;
}

.datachangecenter2{
    margin: auto;
    width:fit-content;
}

/*caixa cinza claro*/
.datachangebox1{
    background-color: #d6d6d6;
Margin-top: 5%;
padding: 15px;
margin-bottom: 2%;
box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.datachangebox1 > h3{    
    text-align: center;
}

.datachangebox1 > p{    
    text-align: center;
}


/*box de dados*/

 .datachangebox2{
    margin: auto;
    width: 100%;
    background-color: #ffffff;
    Margin-top: 1%;
    padding: 10px;
     box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
    }

.datachangebox2 > form > h3 {
text-align: center;}


.datachangebox2 >form > h4 {
text-align: center;}

.datachangebox2 > form > div > h4 {
text-align: center;}

.datachangebox2 > form > p {
margin-top: 5%;
}

.datachangebox2 > form > div > select{
  border-style:none;
  padding:5px;
  width:35%;
    border-radius: 5px;
background-color: #d6d6d6;
}

.datachangebox2 > form > div >{
  text-align:center;
}

.datachangebox2 > form > div > input{
    border-style: none;
    background-color: #d6d6d6;
  padding:5px;
  width:100%;
    border-radius: 5px;
}

.datachangeleft > select{
  border-style:none;
    background-color: #d6d6d6;
  padding:5px;
  width:100%;
    border-radius: 5px;
}


.datachangeleft{
float:left;
width: 45%;
}

.datachangeright{
float:right;
width: 45%;
}

.datachangeright > input{
  width: 100%;
  border-style:none;
  padding:5px;
    border-radius: 5px;
    background-color: #d6d6d6;
}

.flashes{
    text-align: center;
    list-style: none;
}

.datachangebutton1{
    text-align:center;
    margin-top:2%;
    margin: center;
    cursor: pointer;
    border-style:none;
    padding:14px;
}

.datachangebutton1 > button{
  cursor: pointer;
  border-style:none;
  padding:14px;
  margin: auto;
    background-color: #d6d6d6;
    border-radius: 5px;
}

.datachangebutton1 > button:hover{
background-color:rgb(71, 177, 106);
}

.datachangebutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.datachangebutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.datachangebutton2:hover{
    background-color:rgb(183, 85, 85);
}

.datachangecenter{
margin:auto;
width:fit-content;}


    /*RESPONSIVIDADE alteracaodedados.HTML*/

    @media screen and (max-width: 750px) {

        .datachangebox1{
            margin: auto;
            width: 100%;
        Margin-top: 15%;
        }
    }

/*accountclosenotificationo.html*/ 

/*centralizar*/
.useraccountclosenotificationcenter1{
    margin: auto;
    width:50%;
}

.useraccountclosenotificationcenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.useraccountclosenotificationbox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.useraccountclosenotificationbox1 > h3{    
    text-align: center;
}

.useraccountclosenotificationbox1 > p{    
    text-align: center;
}

.useraccountclosenotificationbox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.useraccountclosenotificationbox2 > h3{
    text-align: center;
    color: #000;
}

.useraccountclosenotificationbox2 > form{

    margin: auto;
    text-align: center;
}

.useraccountclosenotificationbox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.useraccountclosenotificationbutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.useraccountclosenotificationbutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.useraccountclosenotificationbutton1:hover{
    background-color:rgb(183, 85, 85);
}


.useraccountclosenotificationbutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.useraccountclosenotificationbutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.useraccountclosenotificationbutton2:hover{
    background-color:rgb(71, 177, 106);
}

 /*accountclosesolicitacao.html*/ 

/*centralizar*/

.useraccountclosesolicitacaocenter{
    margin: auto;
}

.useraccountclosesolicitacaocenter1{
    margin: auto;
    width:50%;
}

.useraccountclosesolicitacaocenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.useraccountclosesolicitacaobox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.useraccountclosesolicitacaobox1 > h3{    
    text-align: center;
}

.useraccountclosesolicitacaobox1 > p{    
    text-align: center;
}

.useraccountclosesolicitacaobox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.useraccountclosesolicitacaobox2 > h3{
    text-align: center;
    color: #000;
}

.useraccountclosesolicitacaobox2 > form{

    margin: auto;
    text-align: center;
}

.useraccountclosesolicitacaobox2 > form > input{
    margin-top: 30px;
    width: 50%;
    height: 60px;
    text-align: center;
    font-size: 170%;
}

.useraccountclosesolicitacaobox2 > form > button{
    margin: auto;
}


.useraccountclosesolicitacaobutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.useraccountclosesolicitacaobutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.useraccountclosesolicitacaobutton1:hover{
    background-color:rgb(183, 85, 85);
}


.useraccountclosesolicitacaobutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.useraccountclosesolicitacaobutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.useraccountclosesolicitacaobutton2:hover{
    background-color:rgb(71, 177, 106);
}

    /*accountclosereprove.html*/ 

/*centralizar*/
.useraccountclosereprovecenter1{
    margin: auto;
    width:50%;
}

.useraccountclosereprovecenter2{
    margin: auto;
    width:fit-content;
}


/*caixa cinza claro*/
.useraccountclosereprovebox1{
    background-color: #d6d6d6;
Margin-top: 15%;
padding: 15px;
margin-bottom: 2%;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.useraccountclosereprovebox1 > h3{    
    text-align: center;
}

.useraccountclosereprovebox1 > p{    
    text-align: center;
}

.useraccountclosereprovebox2{
    background-color: #ffffff;
    padding: 15px;
    height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 2px;
    border-radius: 5px;
}

.useraccountclosereprovebox2 > h3{
    text-align: center;
    color: #000;
}

.useraccountclosereprovebox2 > form{

    margin: auto;
    text-align: center;
}

.useraccountclosereprovebox2 > form > input{
    margin-top: 30px;
      width: 50%;
    height: 60px;
      text-align: center;
      font-size: 170%;
}

.useraccountclosereprovebutton1{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
    border-radius: 5px;
}

.useraccountclosereprovebutton1 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.useraccountclosereprovebutton1:hover{
    background-color:rgb(183, 85, 85);
}


.useraccountclosereprovebutton2{
    cursor:pointer;
    padding: 15px;
    border-style: none;
    background-color:#d6d6d6;
    cursor: pointer;
}

.useraccountclosereprovebutton2 >a {
  color:#000;
  text-decoration:none;
  font-size:110%;
}

.useraccountclosereprovebutton2:hover {
    background-color: rgb(71, 177, 106);
}
 